@{
    ViewBag.Title = "Dina rättigheter";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Utbildningsbevakare
</div>
<div class="leftcolumn">
    <h2>Vad är en utbildningsbevakare?</h2>
    <p>
        Utbildningsbevakare är i ÖS mening den förtroendevalda student
        som för en kårsektions talan i utbildningspolitiska frågor.
        Utbildningsbevakaren ska dels ses som en studentrepresentant
        i institutionerna, dels som stödperson för den enskilda
        studenten i utbildningsmässiga ärenden.
    </p>
    <h4>När ska du vända dig till utbildningsbevakare?</h4>
    <p>
        Till din kårsektions utbildningsbevakare kan du vända dig om du har frågor
        rörande din utbildning, till exempel kan utbildningsbevakaren svara
        på vilka rättigheter och skyldigheter du har som student, vilka
        regler som finns kring tentamenshantering, vad som ska stå i en
        kursplan med mera. Utbildningsbevakaren kan också hjälpa dig att
        prata med lärare eller med institutionen om du upplever att du har
        fått problem i din utbildning. Du kan också vända dig till din
        kårsektions utbildningsbevakare om du har idéer över hur utbildningen
        kan förbättras eller om du vill vara med och engagera dig inom
        utbildningsbevakning.
    </p>
    <p>
        Varje kårsektion har minst en utbildningsbevakare som sitter i kårsektionens
        styrelse. Mailadresserna till dessa finns i listan till höger. 
        Du kan också besöka din kårsektions sektionsrum, kårsektionens hemsida
        eller Facebooksida för att ta reda på vad din kårsektions
        utbildningsbevakare heter och hur du kommer i kontakt med hen.
    </p>
    <p>
        Inom ÖS har ÖS vice ordförande övergripande ansvar för
        utbildningsbevakning och utbildningspolitiska frågor. ÖS
        student- och doktorandombud är ÖS juridiska expert när det
        uppstår problem inom utbildningen eller inom andra områden kopplade
        till dina studier, till exempel om du har blivit diskriminerad eller
        sexuellt trakasserad.
    </p>
    <h2>Strategi för Örebro studentkårs utbildningsbevakning</h2>
    <p>
        <a href="~/Content/Styrdokument/Utbildningsbevakning.pdf">
            <img src="~/Content/Grafik/pdficon.png" />Strategidokument
        </a><br />
        Här hittar du Örebro studentkårs strategi för utbildningsbevakning. Dokumentet fastställdes av kårstyrelsen 2014-04-10 
        och gäller för verksamhetsåren 2014/2015 och 2015/2016. 
    </p>
</div>
<div class="rightcolumn">
    <h2>Mailadresser till utbildningsbevakare</h2>
    <p>
         <b>Sesam:</b> <br />
        utbildning@sesamit.se
    </p>
    
    <p>
        <b>Sobra:</b><br />
        utbildningsbevakare psykologi: psykologi.sobra@orebrostudentkar.se <br />        
        utbildningsbevakare juridik: jurist.sobra@orebrostudentkar.se
    </p>
    <p>
         <b>Corax:</b> <br />
        utbildningsbevakare@sektionencorax.se
    </p>
    <p>
        <b>Serum:</b><br /> 
        utbildning@serumsektionen.se
    </p>
    <p>
         <b>DokSek:</b><br />
        doksek@oru.se
    </p>
    <p>Finns inte din utbildningsbevakare i listan? Kontakta <a href="~/Sektion/Index">din kårsektion!</a></p>
</div>