@{
    ViewBag.Title = "InEnglish";
}

<div class="leftcolumn">
    <h2>In English</h2>
    <p>
        Unfortunately our website is not available in English yet. Please contact 
        <a href="mailto:kansli@orebrostudentkar.se">kansli@orebrostudentkar.se</a> with questions or visit our office at
        Fakultetsgatan 3, on the left side of Kårhuset, every weekday from August 25th at 10-13.
    </p>
</div>