@{
    ViewBag.Title = "Startsida";
    ViewBag.SubTitle = "Kalender";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Kalender
</div>
<div class="leftcolumn">
    <h2>Det här händer under hösten!</h2>
    <dl>
        <dt> 25-29 augusti</dt>
        <dd>
            Introduktionsstart. Introduktionen sätter igång. För att se när just din kårsektion
            startar introduktionen, titta på <a href="/NyStudent/Introduktion">deras schema.</a>
        </dd>
        <dt>28 augusti</dt>
        <dd>
            Akutboendet öppnar. Är du ny student och inte har funnit någonstans att bo ännu?
            Från och med 28 augusti är du välkommen att få ett akutboende via Örebro studentkår.
            Gå in och läs mer <a href="/NyStudent/HittaBoende">här</a>.
        </dd>
        <dt>1 september</dt>
        <dd>Terminsstart</dd>
        <dd>
            Första dagen att ansöka om bidrag till studentföreningar och studentprojekt av Örebro kommun.
            För mer information, gå in och läs på <a href="http://orebro.se/student">orebro.se/student</a>
        </dd>
        <dt>3-4 september</dt>
        <dd>
            Studentlivsmässa. Klockan 10.00-14.00 den 3-4 september kan du som ny student
            komma till Långhuset och få smakprov på allt vad studentlivet i Örebro har att
            erbjuda.  Vi har laddat upp med fackförbund, företag och föreningar och lovar att
            det finns något för alla. Ta del av olika medlemskap eller andra spännande studenterbjudanden.
        </dd>
        <dt>5 september</dt>
        <dd>
            Beachvolleybollturnering. Kom till beachvolleybollplanerna på campus Örebros
            idrottsanläggning för att se vem som vinner hem den årliga volleybollturneringen!
            Denna aktivitet är en del av det allmänna introduktionsschemat.
        </dd>
        <dt>7 september</dt>
        <dd>
            Ikea-tripp. Som en del av det allmänna introduktionsschemat kommer bussar köra till och från
            Ikea under dagen, följ med, käka en köttbullelunch och köp det du inte redan hunnit med.
            Bussarna är färgkodade och tiderna ser ni nedan, det innebär att om ni åker med första bussen
            till Ikea så åker ni med första bussen tillbaka. Ni får endast köpa med er så mycket grejer som
            får plats i max två kassar, inga större inköp kan göras. Angiven tid är den tid bussen
            åker så kom i god tid. <br />
            <br />
            <b>Busstider: </b> <br />
            10:00 Örebro universitet, Entréhuset till Ikea<br />
            11:00 Fredsgatan till Ikea<br />
            12:00 Brickebacken, Enrisvägen till Ikea<br />
            13:00 Örebro universitet, Entréhuset till Ikea<br />
            14:15 Örebro universitet, Entréhuset till Ikea<br />
            <br />
            12:30 Ikea till Örebro universitet, Entréhuset<br />
            13:30 Ikea till Fredsgatan<br />
            14:45 Ikea till Brickebacken, Enrisvägen<br />
            15:30 Ikea till Örebro universitet, Entréhuset<br />
            16:30 Ikea till Örebro universitet, Entréhuset<br />
            <br />
            11:00 Grythyttan till Ikea, retur 15:00
        </dd>

        <dt>7 september</dt>
        <dd>
            Biomys. Vid lunden bakom Teknikhuset kommer vi 20.00 rigga upp med utomhusbio. Ta med en filt och lite
            gott att tugga på så avslutar vi veckan på ett stilla och perfekt sätt. Filmtitel kommer att avslöjas längre fram.
        </dd>
        <dt>11 september</dt>
        <dd>
            Pepp inför Örebrodagen. 17.00 i stadsparken kommer vi peppa inför morgondagens årliga kamp: Örebrodagen.
            Ta med dig en filt och något att tugga på, vi bjuder på grillad korv och överraskningar.
        </dd>
        <dt>12 september</dt>
        <dd>
            Örebrodagen. I hela Örebro stadskärna mellan 11.45 och 17.00 kommer dagen D utspela sig: vi ska
            kora vem som tar hem Örebrodagen 2014. Detta är en sjukamp inne i Örebro, där tävlar de olika kårsektionerna
            i allt från bollkänsla till logiskt tänkande. Under dagen är även en hejarklackstävling för alla som är med i
            publiken, vilken publik hejar på sitt lag bäst? Samling 11:45 i Slottsparken.
        </dd>
        <dt>17 september </dt>
        <dd>
            Lunch för studerande föräldrar. Kombinerar du studierna med att vara förälder och vill träffa andra som
            är i samma situation för att dela tips och trix? Då ska du komma på denna lunch 12.00 på Örebro Kårhus.
            Vi bjuder på lunchen och föranmälan krävs till frida.siveborn@oru.se eller 019-30 37 57.
        </dd>
        <dt>25 september </dt>
        <dd>
            Sista dagen att ansöka om bidrag till studentföreningar och studentprojekt av Örebro kommun.
            För mer information, gå in och läs på <a href="http://orebro.se/student">orebro.se/student</a>.
        </dd>
    </dl>
</div>