@media (min-width: 57.01em) {

    .clears {
        display: none;
    }

        .clears:last-child {
            display: block;
        }
    /**Top section**/
    #headerinner {
        width: 900px;
        margin: auto;
    }
    /**Content section**/
    #container {
        width: 900px;
        margin: auto;
    }

    #indexrightcolumn {
        width: 30%;
        float: right;
        padding-left: 0;
    }

    .leftcolumn {
        width: 70%;
        float: left;
    }

    .rightcolumn {
        padding-left: 0;
        width: 30%;
        float: right;
        display: block; 
    }
    .importantinfo {
        display: none;
    }
    .importantrightcolumn {
        display: block; 
        padding-left: 0;
        width: 30%;
        float: right;
    }
    
    .kontaktgrupp {
        clear: both; 
    }
    .kontakt {
        width: 50%;
        float: left;  
        padding-right: 5%; 
        padding-bottom: 5%; 
    }
    #myinfo {
        clear: both; 
        font-size: 0.8em; 
        padding-top: 5%; 
    }


    /**Bottom content**/
    #footerContent {
        width: 900px;
        margin: auto;
    }

    #kansliöppettider {
        float: left;
        margin-right: 5%;
    }
    /**Navigation**/
    .menylabelcontainer {
        display: inline-block;   
        width: 150px; 
        position: static; 
    }
    .menylvl1 {
        padding: 1.2em 1.2em;
        border-bottom: none;
        display: inline-block;
        position: static; 
        border-left: none;
        border-right: none;
        background-image: url(/Images/Grafik/arrowside.png);
        background-repeat: no-repeat;
        background-position: right 40px center;
        width: 110%; 
    }
        #menycontainer {
        background: black;
        height: 100%;
        width: 100%; 
    }
    .menylvl1:last-child {
        clear: both; 

    }
    .menylabelcontainer:hover > .menylvl2 {
        display: block; 
    }
    #menyinnercontainer {
        width: 900px;
        margin: auto;

    }
    .menylvl2 {
        position: absolute;
        z-index: 100; 
    }
    #omoss {
        width: 120px; 
    }
    #rattigheter {
        width: 170px; 
    }
    .clears {
        display: none; 
    }
    
    /**Organisationskarta**/
    #organisationskartaliten {
        display: none;
    }
    #organisationslista {
        display: none;
    }

    #organisationskartajs {
        width: 810px;
        height: 556px;
        background-image: url(/Images/Grafik/organisationskarta.png);
        position: relative;
        display: block; 
    }

    .clickarea {
        position: absolute;
        z-index: 3;
        cursor: pointer;
    }

    .inforuta {
        z-index: 100;
        position: absolute;
        width: 400px;
        background-color: #C2C2D6;
        padding: 10px;
        border-radius: 10px;
    }

        .inforuta > a {
            text-decoration: underline;
        }

            .inforuta > a:hover {
                font-weight: bold;
            }

    #imgmapStudentrepr {
        top: 165px;
        left: 120px;
        width: 165px;
        height: 30px;
    }

    #Studentreprpopup {
        display: none;
        width: 220px; 
        margin-top: -80px; 
        margin-left: -50px; 
    }

    #imgmapFum {
        top: 150px;
        left: 310px;
        width: 120px;
        height: 60px;
    }

    #Fumpopup {
        display: none;
        width: 250px;
        margin-left: -40px;
        margin-top: -80px; 
    }

    #imgmapRad {
        top: 245px;
        left: 130px;
        width: 125px;
        height: 60px;
    }

    #radpopup {
        display: none;
        width: 250px;
        margin-left: -40px;
        margin-top: -80px; 
    }

    #imgmapKS {
        top: 240px;
        left: 290px;
        width: 160px;
        height: 75px;
    }

    #KSpopup {
        display: none;
        width: 250px;
        margin-left: -40px;
        margin-top: -80px; 
    }

    #imgmapSektioner {
        top: 230px;
        left: 475px;
        width: 140px;
        height: 90px;
    }

    #sektionerpopup {
        display: none;
        width: 250px; 
        margin-left: -40px;
        margin-top: -80px; 
    }

    #imgmapProjekt {
        top: 360px;
        left: 193px;
        width: 100px;
        height: 50px;
    }

    #projektpopup {
        display: none;
         width: 250px;
        margin-left: -60px;
        margin-top: -80px; 
    }

    #imgmapArvoderade {
        top: 360px;
        left: 323px;
        width: 100px;
        height: 45px;
    }

    #arvoderadepopup {
        display: none;
         width: 250px;
        margin-left: -140px;
        margin-top: -80px; 
    }

    #imgmapTjansteman {
        top: 360px;
        left: 455px;
        width: 100px;
        height: 45px;
    }

    #tjanstemanpopup {
        display: none;
         width: 250px;
        margin-left: -140px;
        margin-top: -80px; 
    }

    #imgmapLosnummer {
        top: 350px;
        left: 575px;
        width: 140px;
        height: 160px;
    }

    #losnummerpopup {
        display: none;
        width: 250px; 
        
        margin-left: -100px;
        margin-top: -20px; 
    }
}
