@{
    ViewBag.Title = "Ny student";
    ViewBag.SubTitle = "Hitta boende";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Hitta boende
</div>
<div class="leftcolumn">
    <h1>Hjälp, jag har inget boende!</h1>
    <p>
        Som ny student vid Örebro universitet erbjuder Örebrobostäder AB (ÖBO) dig en bostadsgaranti. Garantin innebär att du inom
        30 dagar ska få erbjudande om ett korttidskontrakt, vilket som längst gäller för den första terminen du studerar på universitetet.
        Under tiden får du själv söka efter en mer permanent bostad.
    </p>
    <p>
        För att få tillgång till bostadsgarantin måste du stå med i ÖBOs bostadskö samt ha anmält dig till bostadsgarantin, hur du
        gör detta samt vilka krav som ska vara uppfyllda kan du läsa om på ÖBOs hemsida <a href="http://www.obo.se/sv/Bostader/OBO-Student/">ÖBOs hemsida</a>
        Om du står helt utan bostad när terminen börjar erbjuder vi på Örebro studentkår ett så kallat akutboende för nya studenter.
    </p>
    <h2>Vad är ett akutboende?</h2>
    <p>
        Ett akutboende är en sista lösning för dig som ny student om du inte har någonstans att bo när terminen startar.
        Alla hyreskontrakt inom akutboendet är temporära och ska främst hjälpa dig att få tak över huvudet, du kan
        alltså inte ha så höga krav på boendet. Akutboendets utformning varierar och kan vara allt från en tom lägenhet
        med en madrass på golvet till ett eget rum i en villa eller en sovplats på någons soffa. Kom ihåg att akutboendet
        är en tillfällig lösning medan du väntar på korttidskontrakt inom ÖBOs bostadgaranti eller på egen hand hittar en
        mer permanent bostad.
    </p>
    <p>
        Hyran för akutboende är 500kr/påbörjad vecka, detta oberoende av hur akutboendet ser ut och var det ligger. Denna summa
        betalar du som hyresgäst kontant till projektledarna för akutboendet varje måndag i Örebro studentkårs kansli. Örebro
        studentkår betalar sedan hyresvärden.
    </p>

    <h2> Hur får jag ett akutboende?</h2>
    <p>
        För att vi ska kunna hyra ut ett akutboende har vi några krav på dig som hyresgäst. Se till att uppfylla dessa innan
        du kan gå vidare till nästa steg för att få ditt akutboende:
    </p>
    <ul class="list">
        <li>Du ska vara ny student vid Örebro universitet.</li>
        <li>Du ska vara/bli medlem i Örebro studentkår.</li>
        <li>Du ska stå i Öbos bostadsgaranti.</li>
        <li>Vid det fall att du blir erbjuden en bostad hos ÖBO måste du tacka ja till denna, annars förlorar du din möjlighet till akutboende.</li>
    </ul>
    <p>
        Uppfyller du alla dessa krav är du varmt välkommen att komma förbi Örebro studentkårs kansli där vi kommer hjälpa dig.
        <b>Glöm inte att ta med kvitto på betald kåravgift, antagningsbesked samt bevis på att du står med i ÖBOs bostadsgaranti.</b>
    </p>
    <h2>Vad ingår i akutboendet?</h2>
    <p>
        Du som hyresgäst ska givetvis ha en plats att sova på, så i akutboendet ska det finnas en säng, madrass eller fullgod soffa.
        Du ska också ha möjlighet att laga mat samt kunna sköta din hygien.

        Givetvis ska det inte heller vara för trångt, vi på Örebro studentkår räknar på att max två personer får plats på 18 kvadratmeter, 
        det vill säga ett studentkorridorsrum.
    </p>
    <p>
        Av dig som hyresgäst förväntas sunt förnuft och allmänt hyfs, såsom att inte ta hem gäster eller ha fest utan att ha frågat
        din hyresvärd först. Du ska respektera din hyresvärd och att denne kanske inte har samma dygnsrytm som du själv i det fall ni
        delar bostad. Tänk på att det inte ingår toalettpapper, någon typ av mat, sängkläder och dylikt i akutboendet, allt sådant står
        du som hyresgäst själv för.
    </p>
    <h2>Bli hyresvärd?</h2>
    <p>
        Vill du vara med och hjälpa nya studenter genom att ge en eller flera av dem en tillfällig sovplats? Ersättningen utgår med
        500 kr per student och påbörjad vecka tills studenten hittar en egen bostad. Som ny student är kraven inte höga, utan det som
        krävs är en säng, madrass eller en fullgod soffa samt tillgång till hygienvård och möjlighet att laga mat. Är det så att du
        har några specifika krav på studenten som ska bo hos dig är det inga problem, det löser vi givetvis.
    </p>
    <p>
        När du skriver på ett kontrakt förpliktar du dig inte till att ta emot en student, utan vi ringer alltid innan och säkerställer
        att du fortfarande vill och kan ta emot en student. Vi kan tyvärr inte garantera att alla som anmäler sig som hyresvärd får ta
        emot en student.
    </p>
    <h2>Kontakta akutboendet</h2>
    <p>
        Du kan ringa, maila eller besöka oss på plats: <br />
        Adress: Örebro studentkår, Fakultetsgatan 3, 702 81 Örebro<br />
        Epost: <a href="mailto:akutboende@orebrostudentkar.se">akutboende@orebrostudentkar.se</a><br />
        Telefon: 0737-109048
    </p>
    <h2>FAQ</h2>
    <dl>
        <dt>Vad behöver jag göra för att vara berättigad till akutboende?</dt>
        <dd>Du måste vara ny student vid Örebro universitet, medlem i Örebro studentkår samt stå i kö till ÖBOs bostadsgaranti.</dd>
        <dt>Var kommer jag geografiskt att få bo i akutboendet?</dt>
        <dd>Vi försöker alltid placera dig så nära campus som möjligt eller lyssna på andra önskemål, men vi kan inte garantera var du kommer bli tilldelad ett akutboende.</dd>
        <dt>Hos vem hamnar jag?</dt>
        <dd>Det är ofta studenter, gamla studenter eller privatpersoner som ställer upp som hyresvärdar till akutboendet. Se det som en chans att vidga ditt kontaktnät ännu mer!</dd>
        <dt>Kan jag ha önskemål om vem jag vill bo hos?</dt>
        <dd>Givetvis kan du ha önskemål och vi ska arbeta för att förverkliga dem, dock är det inte alltid genomförbart.</dd>
        <dt>Hur betalar jag in min hyra?</dt>
        <dd>Du kommer till Örebro studentkårs kansli varje måndag som du nyttjar akutboendet och betalar kontant.</dd>
        <dt>Vad händer om något går sönder i akutboendet?</dt>
        <dd>Om du som hyresgäst har orsakat skadan får du betala den eventuella ersättningen till hyresvärden.</dd>

    </dl>
</div>
<div class="rightcolumn">
    <h3>Hyreskontrakt</h3>
    <p>
        <a href="~/Content/Akutboende/hyresgast.pdf">
            <img src="~/Images/Grafik/pdficon.png" />Hyresgäst
        </a><br />
        Här finns kontraktet för dig som behöver ett boende. 
    </p>
    <p>
        <a href="~/Content/Akutboende/hyresvard.pdf">
            <img src="~/Images/Grafik/pdficon.png" />Hyresvärd
        </a><br />
        Här finns kontraktet för dig som ska hyra ut ett boende.
    </p>
</div>