@{
    ViewBag.Title = "Ny student";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Ny student
</div>
<div class="leftcolumn">
    <h1>Hej och välkommen som ny student!</h1>

    <p>
        Om du hittat hit är du antagligen ny student på Örebro universitet – grattis. Oavsett om du börjar studera för
        första gången, studerat förr på annan ort, är ny eller gammal i Örebro så är studentlivet en början på något nytt och spännande.
    </p>
    <p>
        Vi har alla varit nya studenter och vi vet att det är mycket som ska fixas i början och som ny student möts du av många
        nya intryck. Detta kombinerat med att många är nyinflyttade till en främmande stad utan att känna någon kan kanske
        kännas ganska omtumlande. Vårt tips är att ta vara på den första tiden som ny och fräsch student, försök ta in alla
        intryck och om något verkar förvirrande så fråga dina medstudenter – ingen fråga är för löjlig eller konstig. Ett
        annat tips är självklart att delta på introduktionen. Tillsammans med Örebro studentkår kan du som ny student inleda
        studietiden med ett fullspäckat schema fyllt med både studieförberedande och sociala tillställningar.
    </p>
    <p>
        Vi arbetar heltid tillsammans med massvis av ideellt engagerade studenter för Örebro studentkår. Örebro studentkår
        företräder dig som student vid Örebro universitet. Som medlem i studentkåren är det till oss du kan vända dig om du
        har frågor och funderingar kring din studiesituation, studentlivet eller problem med din utbildning. Örebro studentkårs
        vision är att vara Sveriges bästa studentorganisation vilket innebär att vi ständigt sätter våra medlemmars intressen
        i fokus och arbetar för att ge studenterna en bättre studietid. Detta är möjligt genom hundratals ideellt engagerade
        studenter i olika organ. Örebro studentkår har i 50 år påverkat, kämpat och fört fram studenternas röst för att du som
        student ska få en så bra studietid som möjligt här i Örebro. Vi hoppas att du som läser detta väljer att vara del av
        denna organisation med drygt 3500 medlemmar. Tillsammans får vi en starkare röst och via engagemanget finns det inga
        gränser för vad vi tillsammans kan åstadkomma.
    </p>
    <h3>
        Vi önskar dig en oförglömlig start på vad som förhoppningsvis blir en oförglömlig tid här på Örebro universitet.
    </h3>
    <p>
        Kristine Arnhällen <br />
        Ordförande<br />
        Örebro studentkår
    </p>
    <p>
        Maria Backsell <br />
        Vice ordförande <br />
        Örebro studentkår
    </p>
    <p>
        Isabella Samuelsson<br />
        Studiesocialt ansvarig<br />
        Örebro studentkår
    </p>









</div>