@{
    ViewBag.Title = "Medlem";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Därför medlem
</div>
<div class="leftcolumn">
    <h2>Därför ska du bli medlem i ÖS</h2>
    <p>Saknas en del</p>
    <p>
        ÖS medlemmar är grunden till ÖS organisation. Utan medlemmar finns inte ÖS. Det finns två typer av
        medlemskap: ordinarie medlemskap och stödmedlemskap. För att bli ordinarie medlem i ÖS måste du vara student
        vid Örebro universitet, det vill säga att du måste vara antagen till och registrerad på en utbildning som
        ges av Örebro universitet. Du behöver också erlägga en medlemsavgift till ÖS, detta görs terminsvis eller
        årsvis. Om du vill engagera dig inom ÖS måste du vara ordinarie medlem i ÖS.
    </p>
    <p>
        Stödmedlem kan var och en bli i ÖS. Stödmedlem väljer du att bli för att stötta ÖS verksamhet och om du 
        inte är student vid Örebro universitet. Stödmedlemskapet löses årsvis och du erhåller inte Mecenatkortet 
        så som en ordinarie medlem gör.
    </p>
    <h3>Här kanske vi skulle ha en bild som är kopplad till artikeln. </h3>
</div>