@{
    ViewBag.Title = "Medlem";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Därför medlem
</div>
<div class="leftcolumn">
    <h2>Därför ska du bli medlem i Örebro Studentkår</h2>
    <p>Örebro studentkår är till för alla studenter vid Örebro universitetet. Det spelar ingen roll om du är 
        nyanländ till Örebro eller pluggat här ett par år. Att vara medlem i studentkåren betyder inte att du måste vara 
        engagerad i kåren. Medlemskapet går i första hand till att stödja vårt arbete med att bevaka utbildningarna vid 
        Örebro universitetet. Att bevaka utbildningarna betyder att vi ser till att din utbildning ställer studenterna i 
        fokus och den håller de uppställda kraven.
        </p>
    <h3>
        Studenternas röst på universitetet
    </h3>
    <p>
        Studentkåren organiserar alla studentrepresentanter vilket i sig kanske inte låter så spännande men det är en mycket
        viktigt del i att föra fram studenternas röst i alla de beslut som fattas på universitetet. Enligt lag har studenter
        rätt att finnas representerade i alla beslutande organ på universitetet från institutionen upp till universitetsstyrelsen.
        Vi på Örebro studentkår ser till att det finns en stabil grund för studentrepresentationen.
    </p>

    <h3>Du ska känna dig trygg om student</h3>
    <p>Ditt medlemsskap stödjer vårt arbete med trygghetsfrågor som tillgång till studentbostäder, ett välfungerande skyddsnät 
        för studenter och rättssäkerhet i utbildningen. Tyvärr är påverkansarbete inget som leder till omedelbar framgång, snarare 
        tvärtom, det är ett arbete som tar lång tid och ständigt pågår. Därför är det viktigt med en välorganiserad studentkår 
        som orkar och har möjlighet att driva dessa frågor under långa perioder innan det till slut ger resultat.
        </p>

    <h3>Kårsektioner</h3>
    <p>
        En viktig del av Örebro studentkår är våra <a href="~/Sektion/Index">kårsektioner</a> som är den naturliga kontakten med studentkåren för dig som
        student. Din kårsektion består av engagerade studenter med samma utbildningsinriktning som dig, de har med andra ord
        stött på samma svårigheter och problem eftersom de går samma utbildning. Kårsektionerna är också de som tillsammans med
        Introduktionsansvarig och Örebro studentkårs kansli organiserar och planerar din introduktion till studentlivet.
    </p>

    <h3>Ungefär som ett fackförbund</h3>
    <p>
        Till viss del fungerar också studentkåren som en fackförbund för studenter. Skulle du råka ut för problem under
        din utbildning kan du vända dig till utbildningsbevakarna på din kårsektion eller vårt studentombud som kan stötta dig i
        kontakten med universitetet.
    </p>

</div>