body {
	font-family: "Georgia";
	font-size: 19px;
	line-height: 25px;
	background-color: rgba(254,255,247,1);
}


blockquote {
	margin-bottom: 25px;
	margin-top: 25px;
	font-size: 32px;
	line-height: 50px;
	text-align: left;
	text-indent: 16px;
	color: rgba(140,138,138,1);
	font-family: "Effra W02 Light";
}


h1 {
	font-size: 3em;
	line-height: 1.1em;
	margin-bottom: 15px;
	font-family: "Effra W02 Bold";
	text-transform: uppercase;
}


h2 {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 1.6em;
	line-height: .82em;
	letter-spacing: 1px;
	font-family: "Effra W02 Bold";
	text-transform: uppercase;
}


h3 {
	font-size: 1.2em;
	line-height: 1em;
	margin-bottom: 15px;
	margin-top: 30px;
	font-style: normal;
	font-weight: 600;
	font-family: Georgia;
}


p {
	text-indent: 0em;
	line-height: 1.7em;
	font-style: normal;
	font-weight: 400;
	font-family: Georgia;
	font-size: 1em;
	margin-bottom: 12px;
}


p.author {
	text-indent: 0px;
	margin-bottom: 25px;
	font-size: .7em;
	letter-spacing: 2px;
	color: rgba(102,100,100,1);
	line-height: 1.5em;
	text-transform: capitalize;
}


p.first {
	font-size: 1em;
	line-height: 1.7em;
	margin-bottom: 12px;
}


p.intro {
	text-indent: 0px;
	margin-bottom: 20px;
	line-height: 1.5em;
	font-size: 1.5em;
	letter-spacing: 0px;
	font-family: "Effra W02 Bold";
}


p.blockqoute {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Effra W02 Light";
	font-size: 1.4em;
	line-height: 1.5em;
	color: rgba(112,112,112,1);
}


