<div id="menycontainer">
    <div id="menyinnercontainer">
        <div class="menylabelcontainer">
            <input class="hide" type="checkbox" id="menu-toggle-sektioner" />
            <label class="menylvl1" for="menu-toggle-sektioner">
                Kårsektioner

            </label>
            <span class="arrow arrowside">
                <img src="~/Images/Grafik/arrowside.png" />
            </span>
            <span class="arrow arrowdown">
                <img src="~/Images/Grafik/arrowdown.png" />
            </span>

            <div class="hide menylvl2" id="menysektioner">
                <a href="~/Sektion/Index">Vad är en kårsektion?</a>
                <a href="~/Sektion/Corax">Corax</a>
                <a href="~/Sektion/DokSek">DokSek</a>
                <a href="~/Sektion/GIH">GIH</a>
                <a href="~/Sektion/Grythyttan">Grythyttan</a>
                <a href="~/Sektion/Musik">Musik</a>
                <a href="~/Sektion/Serum">Serum</a>
                <a href="~/Sektion/Sesam">Sesam</a>
                <a href="~/Sektion/Sobra">Sobra</a>
                <a href="~/Sektion/TekNat">TekNat</a>
            </div>
        </div>
        <div id="omoss" class="menylabelcontainer" >
            <input class="hide" type="checkbox" id="menu-toggle-omoss" />
            <label class="menylvl1" for="menu-toggle-omoss">
                Om oss
            </label>
            <span class="arrow arrowside">
                <img src="~/Images/Grafik/arrowside.png" />
            </span>
            <span class="arrow arrowdown">
                <img src="~/Images/Grafik/arrowdown.png" />
            </span>


            <div class="hide menylvl2" id="menyomoss">
                <a href="~/Om/Index">Vad är ÖS?</a>
                <a href="~/Om/FUM">Fullmäktige</a>
                <a href="~/Om/KS">Kårstyrelsen</a>
                <a href="~/Om/Studentrepresentanter">Studentrepresentanter</a>
                @*<li><a href="~/Om/Val">Val</a>
                 <li><a href="~/Om/Historik">Historik</a>
                <li><a href="~/Om/ExternaKontakter">Externa kontakter</a></li>*@
                <a href="~/Om/Stipendium">Stipendium</a>
                <a href="~/Om/Roller">Roller</a>
            </div>
        </div>
        <div class="clears"></div>

        <div class="menylabelcontainer">
            <input class="hide" type="checkbox" id="menu-toggle-nystudent" />
            <label class="menylvl1" for="menu-toggle-nystudent">
                Ny student
            </label>
            <span class="arrow arrowside">
                <img src="~/Images/Grafik/arrowside.png" />
            </span>
            <span class="arrow arrowdown">
                <img src="~/Images/Grafik/arrowdown.png" />
            </span>

            <div class="hide menylvl2" id="menynystudent">
                <a href="~/NyStudent/Index">Välkommen ny student</a>
                <a href="~/NyStudent/HittaBoende">Studentboende</a>
                <a href="~/NyStudent/Introduktionen">Introduktionen</a>
                <a href="~/NyStudent/Orebrogavan">Örebrogåvan</a>
            </div>
        </div>
        <div class="menylabelcontainer">
            <input class="hide" type="checkbox" id="menu-toggle-studentliv" />
            <label class="menylvl1" for="menu-toggle-studentliv">
                Studentliv
            </label>
            <span class="arrow arrowside">
                <img src="~/Images/Grafik/arrowside.png" />
            </span>
            <span class="arrow arrowdown">
                <img src="~/Images/Grafik/arrowdown.png" />
            </span>

            <div class="hide menylvl2" id="menystudentliv">
                <a href="~/Studentliv/Index">Studentlivet</a>
                <a href="~/Studentliv/EngageraDig">Engagera dig</a>
                <a href="~/Forening/Index">Samarbetsföreningar</a>
                <a href="~/Studentliv/Losnummer">Lösnummer</a>
                @*<li><a href="~/Studentliv/Studiemiljo">Studiemiljö</a></li>
                    <li><a href="~/Studentliv/Karhuset">Kårhuset</a></li>*@
                <a href="~/Studentliv/HyraLokal">Lokaler</a>
                @*<li><a href="~/Studentliv/Aktiviteter">Aktiviteter</a></li>*@
            </div>
        </div>

        <div class="clears"></div>
        <div id="rattigheter" class="menylabelcontainer">
            <input class="hide" type="checkbox" id="menu-toggle-rattigheter" />
            <label class="menylvl1" for="menu-toggle-rattigheter">
                Dina rättigheter
            </label>
            <span class="arrow arrowside">
                <img src="~/Images/Grafik/arrowside.png" />
            </span>
            <span class="arrow arrowdown">
                <img src="~/Images/Grafik/arrowdown.png" />
            </span>

            <div class="hide menylvl2" id="menyrattigheter">
                <a href="~/Utbildning/Index">Dina rättigheter</a>
                <a href="~/Utbildning/Utbildningsbevakning">Utbildningsbevakning</a>
                <a href="~/Utbildning/Studentombud">Studentombud</a>
                <a href="~/Utbildning/VanligaFragor">Vanliga frågor</a>
            </div>
        </div>
        <div id="kontaktlink" class="menylabelcontainer">
            <a class="menylvl1" href="~/Home/KontaktaOss">
                Kontakta oss
            </a>
        </div>
        <div style="clear:both; "></div>
    </div>
</div>

@*<script src="~/Scripts/navigation.js"></script>*@