@{
    ViewBag.Title = "Startsida";
}
<div class="leftcolumn">

    <h1>Till dig som är antagen till Örebro universitet</h1>
    <dl>
        <dt>Ställ dig i öBos bostadskö!</dt>
        <dd><a href="http://www.obo.se/sv/Bostader/OBO-Student/Studentbostader/Sa-har-soker-du-studentbostad/">Du hittar den här.</a></dd>

        <dt>Introduktionen</dt>
        <dd>
            Knappt fyra veckors introduktion till studietiden vid Örebro universitetet.
            Lära känna Campus, universitetet, staden och massor med nya människor. Vi kan garantera att många
            av er kommer hitta vänner, om inte för livet, för åtminstone hela studietiden. Det är din kårsektion
            som tar hand om dig de första veckorna. Se till att köpa din intropåse som är din biljett till
            introduktionen från din kårsektion. Du får mer information under välkomstdagen och i antagningsmailet vi skickar ut i augusti.
        </dd>

        <dt>Registrera dig</dt>
        <dd>
            Glöm inte att registrera dig på ditt program eller kurs, annars kommer du förlora din plats på utbildningen!
            Läs mer om registreringen på <a href="http://www.oru.se/Utbildning/Blivande-student/Registrering/">Örebro universitets webbplats</a>.
        </dd>

        <dt>Välkomstdagen 1 september</dt>
        <dd>
            Första dagen på universitetet. Det här är dagen då du får mer information än vad du någonsin
            trodde att du behövde. Dina faddrar tar dig runt på en campusvandring för att du ska lära känna ditt
            nya Campus. Även om vissa sektioner tjuvstartar introduktionen tidigare är terminsstarten den officiella
            starten på introduktionen till studietiden.
        </dd>

        <dt>Kolla-In dagen</dt>
        <dd>
            Öppethus på universitetet. Lär känna Campus och besök staden innan det är dags i höst. Är det
            verkligen Örebro du vill plugga i? Det här är din chans att kolla in att det faktiskt är så.
        </dd>

        <dt>Akutboende</dt>
        <dd>
            Om det skiter sig med boende innan terminsstart ordnar vi på Örebro studentkår ett så
            kallat <a href="~/NyStudent/HittaBoende">akutboende</a> innan du hinner få en egen lägenhet via bostadsgarantin. Ett akutboende kan vara
            allt från en soffa hemma hos en student, en tom lägenhet, till en del av en villa. Boendet kostar 500 kronor
            per påbörjad vecka och ser till att du får någonstans att bo för att du ska kunna komma igång med dina studier.
        </dd>

        <dt>Antagningsmail</dt>
        <dd>
            Alla som är antagna till Örebro universitetet får ett mail med mer information från sin kårsektion
            med alla datum som gäller för introduktionen, länkar till facebookgrupper för löpande information under
            introduktionen och annan bra info. Hör av dig till oss på studentkåren om ditt mail inte kommit fram.
        </dd>
    </dl>

    <h3>Bra länkar</h3>
    <p>
        Som ny student kan det vara många saker att hålla koll på, här nedan följer några viktiga länkar och vi hoppas
        att detta ska hjälpa dig inför och under din första studietid.
    </p>

    <p>
        <a href="http://www.oru.se/Utbildning/Blivande-student/Valkommen-ny-student/valkommen-ny-student/Viktiga-lankar-for-att-komma-igang/">
            Checklista från Örebro Universitet
        </a>

    </p>
    <p>
        <a href="http://www.oru.se/Utbildning/Blivande-student/Valkommen-ny-student/valkommen-ny-student/Valkomstdag-med-registrering/">
            Om välkomstdagen 1 september
        </a>
    </p>
    <p>
        <a href="http://www.oru.se/Utbildning/Blivande-student/Valkommen-ny-student/valkommen-ny-student/Sveriges-basta-introduktion/">
            Sveriges bästa introduktion
        </a>
    </p>
    <p>
        <a href="~/NyStudent/Introduktionen">Den kårspecifika delen av introduktionen</a>
    </p>
    <p class="nyhetssignatur">Andreas Lundgren, informationsansvarig, 7 juli 2014</p>
    <br />
    <br />
    <br />
    <h1>Var med och hjälp en ny student!</h1>
    <p>
        Snart börjar höstterminen vilket innebär att massvis med nya studenter anländer till Örebro. Kommer du ihåg hur det var
        att vara ny student? Nervös och förväntansfull, men många är också lätt panikslagna eftersom de inte hittat
        någonstans att bo än. Du kan vara den räddande personen som behövs för en ny, vilsen student.
    </p>
    <p>
        Örebro studentkårs Akutboende försöker hjälpa bostadslösa nya studenter genom att hyra ut temporära veckokontrakt.
        För att detta ska vara möjligt behövs godhjärtade människor som kan hyra ut en fullgod soffa, en madrass eller
        en säng i sitt hem. Vill du vara med och göra detta möjligt?
    </p>
    <p>
        För varje påbörjad vecka betalar studenten 500 kr i form av hyra, dessa är du sedan välkommen att hämta på Örebro
        studentkårs kansli varje onsdag som du agerar hyresvärd. Kraven är att studenten ska ha en plats att sova på, möjlighet att laga
        lättare mat samt sköta sin hygien.
    </p>
    <p>
        Läs mer om akutboende samt ladda hem hyresvärdskontraktet <a href="~/NyStudent/HittaBoende">här</a>.
    </p>
    <p>
        Posta sedan till vår adress: <br />
        Örebro studentkår <br />
        Fakultetsgatan 3 <br />
        702 81 Örebro
    </p>
    <p>
        Du kan också lämna det direkt i vår postlåda vid Kårhuset eller
        komma in till kansliet och skriva under.
    </p>
    <p>
        Kontakt: <br />
        akutboende@orebrostudentkar.se<br />
        0737-10 90 48
    </p>
    <p class="nyhetssignatur">Andreas Lundgren, informationsansvarig, 7 juli 2014</p>
    <br />
    <br />
    <br />

    <h1>
        Örebro studentkår räddar kårhuset
    </h1>

    <p>
        Klockan 21.33 måndagen den 30 juni tog Örebro studentkårs Fullmäktige, FUM beslutet att Örebro studentkår tar över
        kårhusföreningens verksamhet. Beslutet innebär att kårhuset kommer finnas kvar till studenternas förfogande
        men det medföljer också att det krävs en ny styrelse och ideell personal som vill arbeta med den nya verksamheten.
    </p>

    <p>
        Läs mer på <a href="http://www.losnummer.se/nyheter/2014/06/orebro-studentkar-raddar-karhuset/"> losnummer.se </a>
    </p>

    <p class="nyhetssignatur">Andreas Lundgren, informationsansvarig, 7 juli 2014</p>
    <br />
    <br />
    <br />
</div>

<div class="rightcolumn">
    <h2>Inte medlem än?</h2>
    <p>
        Örebro studentkår är till för alla studenter vid Örebro universitetet. Det spelar ingen roll om du är
        nyanländ till Örebro eller pluggat här ett par år... <a href="~/Medlem/Index"> Läs mer -></a>
    </p>
    <hr />
    <h2>
        Vad händer i Örebro studentkår?
    </h2>
    <p><a href="~/Home/Kalender">Höstens viktiga datum hittar du här!</a></p>
    <hr />
    <h2>@@orebrostudentkar</h2>
    <!-- www.intagme.com -->
    <iframe src="http://www.intagme.com/in/?u=b3JlYnJvc3R1ZGVudGthcnxpbnwxNTB8MnwyfHx5ZXN8NXx1bmRlZmluZWR8bm8="
            allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;
                width:330px; height: 330px"></iframe>
    <hr />

    <h2>#orebrostudentkar</h2>
    <!-- www.intagme.com -->
    <iframe src="http://www.intagme.com/in/?h=b3JlYnJvc3R1ZGVudGthcnxpbnwxNTB8MnwyfHx5ZXN8NXx1bmRlZmluZWR8eWVz"
            allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;
                width:330px; height: 330px"></iframe>
    <hr />
    <h2>Engagera dig</h2>
    <p>
        För den som vill engagera sig i Örebro studentkår finns flera vägar att gå. Oavsett om du vill påverka
        din utbildning, bidra till det studiesociala livet eller anordna fantastiska fester och sittningar
        finns det en plats för dig. <a href="~/Studentliv/EngageraDig"> Läs mer -></a>
    </p>
    <br />
    <br />

</div>
