@{
    ViewBag.Title = "Startsida";
}
<div class="leftcolumn">
    <h2>Nyheter från Örebro Studentkår</h2>

    <h3>Fantastiska nyheter</h3>
    <p>
        Det här är en nyhet. Nu kommer lite text på latin. Pro interesset disputando ex. Pri utamur
        invenire in, vel cu etiam phaedrum. Mea diam invidunt eu, saperet prodesset ut mea. Enim
        deterruisset ne has, an quo tollit nostro ceteros. Cum eu adhuc partem veritus, eu amet
        rebum utinam duo.
    </p>

    <p>
        Integre admodum offendit has et, case discere perpetua ex vix, dolore everti in has.
        At mei perfecto erroribus neglegentur, et ridens facete denique ius, modo epicurei
        inimicus at est. Cum magna copiosae ne. Nulla graeci cu eam. Vel graeco eloquentiam an,
        sit ne integre aliquid abhorreant, animal abhorreant eam ne. Cu tollit patrioque mel,
        eum erat iudico habemus te. No adhuc principes qui, vix percipitur sadipscing eu. Sea
        et etiam periculis. Ea eos partem facete inciderint. Solet placerat temporibus in vim,
        est eu omnes feugiat. Cu aliquando honestatis eum, augue dicam graece per in,
        nam ne nihil choro. Eos et solum delicatissimi, magna scripta atomorum vix in,
        ei vis alia doctus legimus.
    </p>

    <p>
        Dolore ornatus forensibus est te. Ne quodsi nominati adolescens mea, his no ullum
        homero noster. Eros labore ei his, mea eu suas eros conceptam. Ea pro possim singulis,
        option sanctus an sed. Viderer efficiantur eu mea, ut mel consul scripta.
        Te aperiri bonorum has, vis putant euismod graecis te.
    </p>
    <p class="nyhetssignatur">Skriven av Josefine Karlsson, 16 juni 2014</p>
    <br />
    <br />
    <br />
    <h3>Ännu en god nyhet</h3>
    <p>
        No augue vituperata nec, ea possit ornatus nam. Ignota integre quaerendum ea vel,
        vel novum dicam bonorum ei. Affert decore ut pri. Sea an phaedrum inciderint,
        prima tincidunt at nec, ad sed nonumy vivendo qualisque. Quis blandit abhorreant eu
        vix, pro novum maiestatis in. Nam verear facilisi menandri in, est cu duis malis
        omittantur.
    </p>

    <p>
        Natum lucilius torquatos eam cu, dolor graece ex cum, cu legendos scripserit has.
        An tale complectitur sea. Semper oblique expetenda est no, ut posse pertinacia eam.
        Duo tota nullam convenire at, porro periculis persecuti ei mei, qui an prima utinam.
        Discere aliquid vix ad, nec causae laboramus ne, vidit feugiat per no.
    </p>

    <p>
        Ei ullum percipit ius. Eos ut novum voluptatibus, meliore definitionem nam te.
        Ius discere debitis ad. Suas liberavisse no per.
    </p>

    <p class="nyhetssignatur">Skriven av Någon Annan, 14 juni 2014</p>
    <br />
    <br />
    <br />
</div>

<div class="rightcolumn">
    <h2>Inte medlem än?</h2>
    <p>
        Det här är början på artikeln om varför en ska bli medlem i ÖS  Natum lucilius 
        torquatos eam cu, dolor graece ex cum, cu legendos scripserit has.
        An tale complectitur sea. Semper oblique expetenda est no.... <a href="~/Medlem/Index"> Läs mer -></a>
    </p>
    <br />
    <br />
    <h2>Det senaste från ÖS Instagram</h2>
    <!-- www.intagme.com -->
    <iframe src="http://www.intagme.com/in/?u=b3JlYnJvc3R1ZGVudGthcnxpbnwxNTB8MnwyfHx5ZXN8NXx1bmRlZmluZWR8bm8=" 
            allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; 
                width:330px; height: 330px"></iframe>
    <br />
    <br />
    <!-- www.intagme.com -->
    <iframe src="http://www.intagme.com/in/?u=b3JlYnJvc3R1ZGVudGthcnxzbHwzMDB8MnwyfHx5ZXN8NXx1bmRlZmluZWR8bm8=" 
            allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; 
                width:315px; height: 315px"></iframe>
    <h2>Engagera dig i Örebro studentkår</h2>
    <p>
        Det här är början på artikeln om hur en kan engagera sig i ÖS. Natum lucilius
        torquatos eam cu, dolor graece ex cum, cu legendos scripserit has.
        An tale complectitur sea. Semper oblique expetenda est no.... <a href="~/Studentliv/EngageraDig"> Läs mer -></a>
    </p>
    <br />
    <br />
    <h2>Vad händer i Örebro studentkår?</h2>
    <p>1 juli - ett nytt verksamhetsår börjar!</p>
    <p>
        <a href="~/Home/Kalender"> Läs mer -></a>
    </p>
    
</div>
