@model OrebroStudentkar2.Models.ContactModel
@{
    ViewBag.Title = "Kontakta oss";

}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Kontakta oss
</div>
<div class="rightcolumn">
    <p>
        <img src="~/Content/Grafik/phoneicon.gif" />
        <h3>019 – 676 23 50</h3>
    </p>
    <hr />
    <p>
        <img src="~/Content/Grafik/mailicon.gif" />
        <h3>kansli@orebrostudentkar.se</h3>

    </p>
    <hr />
    <p>
        <img src="~/Content/Grafik/snailmailicon.gif" />
        <h3>
            Örebro studentkår <br />
            Fakultetsgatan 3 <br />
            702 81 Örebro
        </h3>
    </p>
</div>
<div class="leftcolumn">
    <h2>Kontakta oss</h2>
    <p>
        Om du har några frågor, funderingar eller söker någon av de arvoderade är du välkommen att
        kontakta oss på studentkåren. Vår kanslipersonal hjälper dig gärna med dina frågor och
        guidar dig vidare till rätt person. Kansliet kan bland annat hjälpa dig med frågor om din
        medlemsavgift och medlemskort. Du når oss via email eller telefon under våra öppettider.
    </p>

    <p>
        Du är givetvis lika välkommen att besöka oss på plats.
        Vi finns på Kårhusets vänstra sida, sett från Krakafontänen.
    </p>

    <h3>Våra öppettider</h3>
    <p>Alla vardagar 10.00 till 13.00</p>

    <h3>Behöver du kontakta akutboendet? </h3>
    <p>Skriv ett mail till akutboende@orebrostudentkar.se, eller ring 0737-109048. </p>
</div>
    <h2>Heltidsarvoderade</h2>
    <p>Bilder + kontaktuppgifter till dem. </p>
<div class="kontakter">
    <h2>Kansli och Lösnummer</h2>
    <p>Bilder + kontaktuppgifter till dem. </p>
    <div class="kontaktgrupp">
        <h2>Tjänstemän</h2>
        <div class="kontakt">
            <img src="~/Content/Bilder/Kontakt/albina.jpg" />
            
            <h3>Albina Hoti</h3>
            <p>
                Student- &
                doktorandombud<br />
                <br />
                019 – 676 23 54<br />
                0709 – 39 99 21 <br />
                <br />
                studentombud@@studentkaren.se
            </p>
        </div>

        <div class="kontakt">
            <img src="~/Content/Bilder/Kontakt/matilde.jpg" />
            
            <h3>Matilde Martinez</h3>
            <p>
                Ekonom <br />
                <br />
                0762-08 54 98 <br />
                <br />
                <br />
                ekonomi@@orebrostudentkar.se 
            </p>
        </div>

        <div class="kontakt">
            <img src="~/Content/Bilder/Kontakt/andreas.jpg" />
            
            <h3>Andreas Lundgren</h3>
            <p>
                Informationsansvarig<br />
                <br />
                019 – 676 23 58 <br />
                0709 – 39 99 20 <br />
                <br />
                info@@orebrostudentkar.se
            </p>
        </div>
    </div>
    <p id="mininfo">Den här webbsidan är skapad av Josefine Karlsson (josefine.karlsson@@outlook.com) men ägs av Örebro studentkår.</p>
</div>