@model OrebroStudentkar2.Models.ContactModel
@{
    ViewBag.Title = "Kontakta oss";

}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Kontakta oss
</div>
<div class="rightcolumn">
    <p>
        <img src="~/Content/Grafik/phoneicon.gif" />
        <h3>019 – 676 23 50</h3>
    </p>
    <hr />
    <p>
        <img src="~/Content/Grafik/mailicon.gif" />
        <h3><a href="mailto:kansli@orebrostudentkar.se">kansli@orebrostudentkar.se</a></h3>

    </p>
    <hr />
    <p>
        <img src="~/Content/Grafik/snailmailicon.gif" />
        <h3>
            Örebro studentkår <br />
            Fakultetsgatan 3 <br />
            702 81 Örebro
        </h3>
    </p>
</div>
<div class="leftcolumn">
    <h2>Kontakta oss</h2>
    <p>
        Om du har några frågor, funderingar eller söker någon av de arvoderade är du välkommen att
        kontakta oss på studentkåren. Vår kanslipersonal hjälper dig gärna med dina frågor och
        guidar dig vidare till rätt person. Kansliet kan bland annat hjälpa dig med frågor om din
        medlemsavgift och medlemskort. Du når oss via email eller telefon under våra öppettider.
    </p>

    <p>
        Du är givetvis lika välkommen att besöka oss på plats.
        Vi finns på Kårhusets vänstra sida, sett från Krakafontänen.
    </p>

    <h3>Vi öppnar för hösten igen den 25 augusti, och har då öppet alla vardagar 10-13!</h3>

    <h3>Behöver du kontakta akutboendet? </h3>
    <p>Skriv ett mail till <a href="mailto:akutboende@orebrostudentkar.se">akutboende@orebrostudentkar.se</a>, eller ring 0737-109048. </p>
</div>
    <div class="kontakter">
        <div class="kontaktgrupp">
            <hr />
            <h2>Heltidsarvoderade</h2>
            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/dummy.png" />
                <h3>Kristine Arnhällen</h3>
                <p>
                    Ordförande<br />
                    <br />
                    019 – 676 23 57<br />
                    0709 – 39 99 23
                    <br />
                    
                    <a href="mailto:ordf@orebrostudentkar.se">ordf@orebrostudentkar.se</a>
                </p>
                <p>
                    Som ordförande har Kristine ansvaret för Örebro studentkårs övergripande
                    verksamhet. Ordförande sköter den huvudsakliga kontakten med externa aktörer som
                    kommunen, näringslivet, andra studentkårer och universitetsledningen.
                </p>

            </div>
            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/dummy.png" />
                <h3>Maria Backsell</h3>
                <p>
                    Vice ordförande<br />
                    <br />
                    019 – 676 23 67<br />
                    0709 – 39 99 26
                    <br />
                    <a href="mailto:vice@orebrostudentkar.se">vice@orebrostudentkar.se</a>
                </p>
                <p>
                    Maria har som vice ordförande huvudansvaret för Örebro studentkårs interna organisation och hanterar
                    arbetsgivarfrågor och organiseringen av studentrepresentanter. Vice har den huvudsakliga kontakten med
                    fullmäktige och kårsektionerna. Vice ordförande har också ett övergripande ansvar för bevakningen av
                    kvalitets- och rättsäkerhetsfrågor när det gäller utbildningen vid Örebro universitet.
                </p>

            </div>
            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/dummy.png" />
                <h3>Isabella Samuelsson</h3>
                <p>
                    Studiesocialt ansvarig<br />
                    <br />
                    019 – 676 23 59<br />
                    0709 – 39 99 29
                    <br />
                    <a href="mailto:studsoc@orebrostudentkar.se">studsoc@orebrostudentkar.se</a>
                </p>
                <p> Som studiesocialt ansvarig jobbar Isabella med bostadsfrågor, trygghetsfrågor, 
                hälsofrågor, studentföreningar och introduktionen. </p>
            </div>
        </div>
        <div class="kontaktgrupp">
            <h2>Lösnummer</h2>
            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/dummy.png" />
                <h3>Emmeli Flodqvist</h3>
                <p>
                    Chefredaktör, Lösnummer <br />
                    <br />
                    0709 - 39 99 25 <br />
                    <a href="mailto:emmeli.flodqvist@losnummer.se">emmeli.flodqvist@losnummer.se</a></p>
                <br />
            </div>
        </div>
        @*<div class="kontaktgrupp">
            <hr />
            <h2>Valnämnd</h2>
            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/dummy.png" />
                <h3>Louise Hammar</h3>
                <p>
                    Telefon?<br />
                    <br />
                    <a href="mailto:valnamnd@orebrostudentkar.se">valnamnd@orebrostudentkar.se</a>
                </p>
            </div>
            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/dummy.png" />
                <h3>
                    Elin
                    Dankvardt
                </h3>
                <p>
                    0737 10 90 48<br />
                    <br />
                    <a href="mailto:valnamnd@orebrostudentkar.se">valnamnd@orebrostudentkar.se</a>
                </p>
            </div>
        </div>*@
        <div class="kontaktgrupp">
            <hr />
            <h2>Tjänstemän</h2>
            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/albina.jpg" />

                <h3>Albina Hoti</h3>
                <p>
                    Student- &
                    doktorandombud<br />
                    <br />
                    019 – 676 23 54<br />
                    0709 – 39 99 21 <br />
                    <br />
                    <a href="mailto:studentombud@orebrostudentkar.se">studentombud@orebrostudentkar.se</a>
                </p>
            </div>

            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/matilde.jpg" />

                <h3>Matilde Martinez</h3>
                <p>
                    Ekonom <br />
                    <br />
                    019 - 676 23 51 <br />
                    0709 - 39 99 24<br />
                    <br />
                    <br />
                    <a href="mailto:ekonomi@orebrostudentkar.se">ekonomi@orebrostudentkar.se</a>
                </p>
            </div>

            <div class="kontakt">
                <img src="~/Content/Bilder/Kontakt/andreas.jpg" />

                <h3>Andreas Lundgren</h3>
                <p>
                    Informationsansvarig<br />
                    <br />
                    019 – 676 23 58 <br />
                    0709 – 39 99 20 <br />
                    <br />
                    <a href="mailto:info@orebrostudentkar.se">info@orebrostudentkar.se</a></p>
            </div>
        </div>
        
       <div class="kontaktgrupp">
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <hr />
           <p id="mininfo">Den här webbsidan är skapad av Josefine Karlsson (josefine.karlsson@@outlook.com) och ägs av Örebro studentkår.</p>
       </div>
    </div>
