@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Elsa";
}

<div class="leftcolumn">
    <h2>ELSA</h2>
    <p>
        ELSA (European Law Students’ Association) är världens största internationella och oberoende
        förening som styrs av och för juridikstudenter och unga jurister. ELSA består av sammanlagt
        40 000 medlemmar i 41 länder runtom i Europa och vi ger dig som medlem möjligheten att delta
        i bland annat sociala event samt nyttiga föreläsningar och studiebesök på såväl lokal som
        internationell nivå. Vi erbjuder även Legal Research Groups och Moot Court Competitions
        samt vårt praktikprogram STEP (Student Trainee Exchange Programme) där medlemmarna får
        åka på praktik i allt från två veckor upp till två år och samla praktisk juridisk arbetserfarenhet
        utomlands. Vårt mål är att genom samordning och nätverkande erbjuda möjligheter för våra medlemmar
        att växa både personligt och professionellt samt komplettera den akademiska delen av utbildningen och
        stärka unga juristers färdigheter och interaktioner med varandra.
    </p>
    <p>
        ELSA Örebro är en av åtta lokalgrupper i Sverige som samordnas av ELSA Sweden.
        Mer information om aktuella evenemang och ämnen som kan finnas intressanta hittar du i den nationella
        medlemstidningen ELSIUS som publiceras årligen av ELSA Sweden och distribueras till alla Sveriges lokalgrupper.
    </p>
    <p> 
        Vill du veta mer? Maila oss på  elsa.orebro@elsasweden.org, eller besök vår hemsida 
        <a href="http://www.elsasweden.org">www.elsasweden.org</a> 
    </p>
</div>
<div class="rightcolumn">
    <img src="~/Content/Foreningar/elsa.png" />
</div>