<div class="rightcolumn foreningslista">
    <a href="~/Forening/Startkit">
        <img id="startkitimg" src="~/Content/Grafik/startkit.png" />
    </a>

    <div id="startkitpopup">
        Här hittar du alla dokument du behöver
        för att starta en samarbetsförening.
    </div>
    <hr />

    <h2>Befintliga, godkända föreningar</h2>
    <p><a href="~/Forening/Amnesty">Amnesty Juristgruppen</a></p>
    <p>Black Jacks</p>
    <p><a href="~/Forening/Elsa">Elsa</a></p>
    <p>ESN</p>
    <p>Filmaniac</p>
    <p><a href="~/Forening/GronaStudenter">Gröna studenter</a></p>
    <p>IFMSA Örebro</p>
    <p><a href="~/Forening/JF">Juridiska föreningen vid Örebro universitet</a></p>
    <p>Kurdiska student- och akademikerföreningen</p>
    <p>Leka</p>
    <p>Liberala studenter</p>
    <p><a href="~/Forening/LRF">Lärarnas Riksförbunds Studerandeförening Örebro</a></p>
    <p>Maskinktekniska sällskapet</p>
    <p><a href="~/Forening/Medicinska">Medicinska föreningen Örebro</a></p>
    <p>MiljÖrebro</p>
    <p>Moderata studenter</p>
    <p>P-sex</p>
    <p>Radio campus</p>
    <p>Röda korsets ungdomsförbund</p>
    <p>SFQ Örebro</p>
    <p>Singning Doctors</p>
    <p><a href="~/Forening/Skane">Skåne nation</a></p>
    <p>University Futsal Club Örebro</p>
    <p><a href="~/Forening/UF">Utrikespolitiska föreningen</a></p>
    <p>Örebrew</p>
    <p><a href="~/Forening/Beerpong">Örebro Beerpongsällskap</a></p>
    <p>Örebro Lärarstudenter</p>
    <p><a href="~/Forening/Spex">Örebrospexet</a></p>
</div>
<script src="~/Scripts/mystartkit.js"></script>
