@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Samarbetsföreningar";
}

<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Samarbetsföreningar
</div>
<div class="leftcolumn">
    <h1>
        Samarbetsföreningar
    </h1>
    <p>
        Det finns gott som samarbetsföreningar till Örebro studentkår. Dessa föreningar sysslar med allt 
        mellan himmel och jord: sportaktiviteter, radiosändningar, improvisationsteater, politik och 
        rent sociala föreningar är bara några av dem. I en förening kan du engagera dig på ett flertal 
        olika sätt, dels som medlem och delta på aktiviteterna, men också som styrelsemedlem och föra 
        föreningens arbete framåt. 
    </p>
    <h4>Finns inte just den förening du söker efter? Bilda en ny förening!</h4>
    <p> 
        Vi på Örebro studentkår värnar om ett rikt studentliv och ser gärna att nya föreningar bildas! Vi hjälper
        dig med de viktiga dokumenten, lokalbokningar och svarar på dina frågor. Allt för att göra det så enkelt
        som möjligt för dig att kunna engagera dig med det du tycker är roligt och givande.
    </p>
    <p>
        För att bilda en förening behövs det några dokument. Detta för att ge föreningen tydliga riktlinjer
        om vad ni ska syssla med och en grund att vila på, men också som ett första steg att praktisera det ni önskar.
        De dokument som vi gärna vill ha in av er för att ni ska kunna bli en förening är en stadga, verksamhetsplan,
        budget och kontaktuppgifter till styrelsen. För att det ska bli så enkelt som möjligt att starta en förening
        och inte behöva fokusera allt för mycket på de tunga dokumenten har vi tagit fram förslag på hur dessa kan se ut.
        Du kan också läsa om det samarbetsavtal föreningar kan skriva på med Örebro studentkår och hur du går tillväga
        för att ansöka om organisationsnummer hos Skatteverket. Dessa hittar du <a href="~/Forening/Startkit">här, i vårt startkit för föreningar.</a>
    </p>
    <p>
        Du är alltid varmt välkommen att kontakta oss på studentkåren om du har minsta fråga eller fundering!
        För funderingar kring föreningar kontaktar du studiesocialt ansvarig Isabella Samuelsson på
        studsoc@orebrostudentkar.se 0709-399929.
    </p>

</div>
@RenderPage("Foreningslista.cshtml")
