@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Juridiska föreningen";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Forening/Index">Samarbetsföreningar</a> > Juridiska föreningen
</div>
<div class="leftcolumn">
    <h2>Juridiska föreningen</h2>
    <img class="foreningslogga" src="~/Content/Foreningar/jf.png" />
    <p>
        Juridiska Föreningen vid Örebro universitet är campus största föreningen för studenter i
        juridik och rättsvetenskap vid Örebro universitet. JF erbjuder medlemmarna en fristående
        plattform för sammankomst och samverkan i en miljö som är helt inriktad på studenter i
        det juridiska ämnet. Vi bevakar och tillvaratar studenternas intressen och rätt till utlovad utbildning.
    </p>
    <p>
        <b>Juristmässan</b>, en av Sveriges största arbetsmarknadsmässor för jurister och rättsvetare. JM äger
        rum i december och går av stapeln med förkväll som frekvent gästats av justitieråd, advokater
        och andra framträdande aktörer i branschen. På mässdagen tar vi arbetsmarknaden till Örebro
        universitet och låter den träffa medlemmarna! Mässdagen avslutas med bankett på Örebro Slott.
        Mer information hittar du på ww.juristmassan.se.
    </p>
    <p>
        <b>Medborgarjuristerna</b>, är ett pro bono publico-projekt som bedrivs tillsammans med Örebro kommun.
        Medlemmar ur Juridiska Föreningen bistår allmänheten med juridisk rådgivning. Ansökningsperioden
        för de mycket populära uppdragen som rådgivare hos MBJ sker i början av höstterminen.
    </p>
    <p>
        <b>Slottsbalen</b>, Örebro universitets första, största och enda bal för studenter är en alltid lika populär
        tillställning bland medlemmarna. Naturligtvis äger den rum på Örebro Slott! Biljetterna till
        Slottsbalen säljer brukligen slut bara timmar efter släpp...
    </p>
    <p>
        <b>JF Pub och JF Klubb</b> är månatligen återkommande event bara för medlemmar som inte får missas!
    </p>
    <p>
        Att bli medlem i Juridiska Föreningen är enkelt och gratis! Klicka in under fliken "Bli medlem" på hemsidan
        <a href="http://www.jforebro.se">jforebro.se</a>. Föreningens alla verksamheter och event hittar du också på 
        <a href="http://www.jforebro.se">hemsidan</a>.
            Vi finns även på <a href="https://www.facebook.com/JFOrebro">facebook</a> och instagram (jforebro).</p>
    <p>
        Det är också enkelt och väldigt givande att engagera sig i JF! Juridiska Föreningen söker alltid
        drivna personer till sin verksamhet. Uppdragen sträcker sig från att blanda drinkar på JF Pub,
        skriva för tidskriften Prima Facie till att söka styrelseuppdrag. Vi törs lova att det finns
        något för just dig. Du får inte bara en viktig merit men framförallt erfarenhet och vänner för livet!
    </p>
</div>
@RenderPage("Foreningslista.cshtml")