@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Startkit";
}
<div class="leftcolumn">
    <h2>Startkit för samarbetsföreningar</h2>
    <p>
        Nedan finner du alla dokument du behöver för att starta en förening.
    </p>
    <p>
        <a href="~/Content/Foreningar/Startkit/Stadgar.docx">
            <img src="~/Content/Grafik/wordicon.png" />Stadgar
        </a>
    </p>
    <p>
        <a href="~/Content/Foreningar/Startkit/Verksamhetsplan.docx">
            <img src="~/Content/Grafik/wordicon.png" />Verksamhetsplan
        </a>
    </p>
    <p>
        <a href="~/Content/Foreningar/Startkit/Kontaktuppgifter.docx">
            <img src="~/Content/Grafik/wordicon.png" />Kontaktuppgifter till styrelsen
        </a>
    </p>
    <p>
        <a href="~/Content/Foreningar/Startkit/Samarbetsavtal.docx">
            <img src="~/Content/Grafik/wordicon.png" />Samarbetsavtal med ÖS
        </a>
    </p>
    <p>
        <a href="~/Content/Foreningar/Startkit/Budgetforslag.xls">
            <img src="~/Content/Grafik/excelicon.png" />Budget
        </a>
    </p>

    <p>
        <a href="~/Content/Foreningar/Startkit/Organisationsnummer.pdf">
            <img src="~/Content/Grafik/pdficon.png" />Organisationsnummer
        </a>
    </p>
    <hr />
    <p>
        <a href="~/Content/Foreningar/Startkit/Startkit.zip">
            <img src="~/Content/Grafik/zipicon.png" />
            Här kan du ladda
            hem alla dokument, samlade i en zip-fil.
        </a>
    </p>

</div>
