@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Startkit";
}

<h2>Startkit för samarbetsföreningar</h2>
<p>Här hittar du alla dokument du behöver för att starta en samarbetsförening.</p>
<p>

</p>
