@{
    ViewBag.Title = "Ny student";
    ViewBag.SubTitle = "Introduktion";
}
<div class="col-md-6">
    <h2>
        Välkommen till Sveriges
        bästa introduktion!*
    </h2>

    <p>
        Tillsammans med Örebro studentkår kan som du ny student inleda studietiden med ett fullspäckat
        schema fyllt med både studieförberedande och sociala tillställningar. Genom introduktionen får du
        möjligheten att lära känna campus, Örebro stad och framför allt nya vänner.
    </p>
    <p>
        Hela introduktionen genomsyras av de fyra orden trygghet, delaktighet, glädje och respekt.
        Alla nya studenter på Örebro universitet är välkomna att delta på introduktionen, det spelar
        ingen roll vad du pluggar. Det finns aktiviteter under såväl dag- som kvällstid. Du avgör själv
        vad det är du vill och hinner vara med på eller om du bara väljer de aktiviteter du tycker låter mest lockande.
    </p>
    <p><em>*enligt oss :)</em></p>
</div>