@{
    ViewBag.Title = "Ny student";
    ViewBag.SubTitle = "Introduktion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Introduktionen
</div>
<div class="leftcolumn">
    <h1>
        Välkommen till Sveriges
        bästa introduktion!*
    </h1>

    <p>
        Tillsammans med Örebro studentkår kan som du ny student inleda studietiden med ett fullspäckat
        schema fyllt med både studieförberedande och sociala tillställningar. Genom introduktionen får du
        möjligheten att lära känna campus, Örebro stad och framför allt nya vänner.
        Introduktionen anordnas av Örebro Studentkår och Örebro Universitet, i samarbete med Örebro kommun. 
    </p>
    <p>
        Även om vissa fortfarande kallar introduktionen för nollning har det inget gemensamt med de
        gymnasienollningar du kanske varit med eller hört talas om. Vår introduktion präglas helt av
        trygghet, delaktighet, glädje och respekt. 
        Alla nya studenter på Örebro universitet är välkomna att delta på introduktionen, det spelar
        ingen roll vad du pluggar. Det finns aktiviteter under såväl dag- som kvällstid. Du avgör själv
        vad det är du vill och hinner vara med på eller om du bara väljer de aktiviteter du tycker låter mest lockande.
    </p>
    
    <p>Introduktionen består av två delar: </p>
    <h3> En allmän del</h3>
    <p>
        Den allmänna delen av introduktionen är till för att du ska lära känna universitetet. Alla studenter 
        kan delta oavsett utbildning, och du behöver inte köpa en introduktionspåse för att delta i denna.

        Den allmänna introduktionen innehåller bland annat en föreläsningsserie om redskapen för lyckade studier 
        (studieteknik, att skriva pm, uppsats och andra saker som kan vara bra att veta), Studentmässa och 
        träffpunkter kring olika teman. Schemat till den allmänna delen kan du finna 
        <a href="http://oru.se/Utbildning/Blivande-student/Valkommen-ny-student/valkommen-ny-student/Sveriges-basta-introduktion/Introduktionsschema1/">
        här
        </a> på Örebro universitets hemsida. 
        
    </p>
    <h3>En kårspecifik del</h3>
    <p>
        Den lokala delen är istället inriktad på vilken utbildning du läser och du blir därefter
        tilldelad just den delen av Örebro studentkår som du tillhör, det vill säga din kårsektion.
        Varje kårsektion har ett eget program och du hittar dessa i listan till höger. 
    </p>
    <p>
        Här kommer du finna såväl nya som gamla studenter som pluggar det du ska göra och snabbt lära
        känna dina nya kurskamrater. Du kommer inom din kårsektion få en fadder.
        Faddern är en student som har pluggat ett tag på universitetet, oftast någonting
        liknande det du ska plugga. Faddern finns där för att hjälpa dig göra dig hemmastadd med
        såväl Örebro som stad som din utbildning. Den här delen kallas ofta också för den sociala
        introduktionen eller nollning. Dina faddrar kommer finnas där under hela den sociala introduktionen.
    </p>

    <p>
        Att vara med på den ena delen av introduktionen utesluter givetvis inte den andra. Vi rekommenderar
        dig att ta del av de båda, de brukar vanligen inte krocka med varandra schemamässigt.
    </p>
    <p><em>*enligt oss :)</em></p>
</div>
<div class="rightcolumn">
    <h2>Här ska bilder från hashtagen introduktion dyka upp. </h2>
    <h1>+ lista på scheman!</h1>
</div>