@{
    ViewBag.Title = "Ny student";
    ViewBag.SubTitle = "Örebrogåvan";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Örebrogåvan
</div>
<div class="leftcolumn">
    <h2>Örebrogåvan, presentkort laddat med 1 000 kr!</h2>
    <p>
        Örebrogåvan ges från Örebro kommun till nyinflyttade studenter. Du som folkbokfört dig i Örebro
        mellan 19 augusti 2013 och 31 december 2014 samt är kårmedlem kan hämta ut ett presentkort laddat med
        1 000 kronor att använda på stan i Örebro.
    </p>
    <p>
        Örebrogåvan är ett presentkort laddat med 1 000 kr, som du kan använda vid 150 olika affärer och
        verksamheter i Örebro! Med Örebrogåvan kan du handla kläder, mat, betala på caféer, restauranger,
        frisersalonger och mycket mer. Du kan också använda Örebrogåvan till att köpa busskort,
        konsert- och teaterbiljetter. Örebrogåvan hämtar du på studentkårens kansli.
    </p>
    <p>
        Har du frågor om folkbokföring eller vill du ändra var du är folkbokförd? Mer information och
        E-tjänster eller blanketter för att ändra folkbokföringsadress hittar du på <a href="http://www.skatteverket.se">www.skatteverket.se</a>
    </p>

</div>
