@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Corax";
    ViewBag.Type = "Sektion";
}

<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Corax
</div>
<div class="leftcolumn">
    <h2>Corax</h2>
    <p>
        Corax är kårsektionen för dig som studerar program eller kurser vid Institutionen för
        Humaniora, utbildnings- och samhällsvetenskap som normalt förkortas HumUS. Sektionens
        verksamhet är bred med många engagerade studenter som arbetar för att studietiden
        vid HumUS och Örebro universitet ska bli den bästa tänkbara. Två gånger per läsår
        i samband med starten för höst respektive vårtermin arrangerar Corax en introduktion
        för att nya studenter ska få en bra start på sin tid vid universitetet.
        Introduktionen pågår under flera veckor och schemat är fullspäckat med aktiviteter
        där nya studenter lär känna varandra och hur det framtida livet som student på Örebro
        universitetet kommer se ut.
    </p>

    <img src="~/Sektioner/coraxfadder.jpg" />
    <p>
        Corax är också studenternas röst och påverkansorgan gentemot institutionen.
        Vår uppgift är att bevaka studenternas intressen och därför deltar Corax
        representanter på möten och i forum där institutionens och därmed studenternas
        framtid avgörs. Om du som medlem vill engagera dig i utbildningsrelaterade frågor,
        hör av dig till våra utbildningsbevakare!
    </p>
    <p>
        Sektionen styrs av de beslut sektionsmötet fattar, på sådana möten har alla medlemmar
        rösträtt. Det dagliga arbetet sköts sedan av styrelsen som utses på ett sektionsmöte
        varje vår. Styrelsen utgörs av elva personer som har olika ansvarsområden,
        du är alltid välkommen att kontakta dem om du har frågor.
    </p>
    <h3>Kontaktuppgifter</h3>
    <table>
        <tr>
            <td>
                Ordförande
            </td>
            <td>
                Marcus Alvstrand
            </td>
            <td>
                070-5528115
            </td>
        </tr>
        <tr>
            <td>
                Vice Ordförande
            </td>
            <td>
                Simon Holmström
            </td>
            <td>
                +35 457‐3428214
            </td>
        </tr>
        <tr>
            <td>
                Ekonomiansvarig
            </td>
            <td>
                Niklas Hargell
            </td>
            <td>
                070­‐4619096
            </td>
        </tr>
        <tr>
            <td>
                Utbildningsbevakare - utbildning
            </td>
            <td>
                Emma Hansson
            </td>
            <td>
                076-­8909067
            </td>
        </tr>
        <tr>
            <td>
                Utbildningsbevakare - studiemiljö
            </td>
            <td>
                Arvid Hanell
            </td>
            <td>
                072-7392793
            </td>
        </tr>
        <tr>
            <td>
                Sekreterare
            </td>
            <td>
                Rebecca Nordenström
            </td>
            <td>
                072‐8727408
            </td>
        </tr>
        <tr>
            <td>
                Näringslivsansvarig
            </td>
            <td>
                Martin Mellgren
            </td>
            <td>
                076­‐1648019
            </td>
        </tr>
        <tr>
            <td>
                Sexmästare
            </td>
            <td>
                Daniel Hallberg
            </td>
            <td>
                070­‐0909303
            </td>
        </tr>
        <tr>
            <td>
                Informationsansvarig
            </td>
            <td>
                Nils Larsson
            </td>
            <td>
                072‐2213578
            </td>
        </tr>
        <tr>
            <td>
                Ledamot
            </td>
            <td>
                Petter Karlsson Kristoffersson
            </td>
            <td>
                070‐6979744
            </td>
        </tr>
        <tr>
            <td>
                Introduktionsansvarig
            </td>
            <td>
                Glenn Gartne
            </td>
            <td>
                070‐2869180
            </td>
        </tr>
        <tr>
            <td>
                Introduktionsansvarig
            </td>
            <td>
                Patric Wigren
            </td>
            <td>
                073­‐9203627
            </td>
        </tr>
    </table>
</div>
<div class="rightcolumn">
    <h2>Snabba fakta</h2>
    <hr />
    <p><b>Sektionsfärg:</b> <span style="color: red">röd</span></p>
    <p><b>Sektionsrum: </b>Finns i Krakafoajén i Långhuset</p>
    <p><b>Sektionsrummets öppettider: </b></p>
    <p><b>Hemsida:</b> <a href="http://sektionencorax.se/">sektionencorax.se</a> </p>
    <p><b>Ämnen:</b> utbildnings- och samhällsvetenskap</p>
</div>