@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "DokSek";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > DokSek
</div>
<div class="leftcolumn">
    <h2>DokSek</h2>
    <p>
        DokSek är en kårsektion under studentkåren och är till för doktorander oavsett
        ämnestillhörighet. Vi som jobbar med DokSek är också doktorander och jobbar
        för att förbättra vår situation vad gäller forskarutbildningen, arbetsmiljö,
        våra rättigheter som studenter, information och andra aspekter av
        doktorandlivet. Vi organiserar även seminarier kring, för oss, viktiga ämnen
        för att underlätta vårt jobb och studier. Arbetet är både kul och givande.
        Om du har problem och behöver hjälp eller skulle vilja bli mer engagerad i
        DokSek tveka inte att kontakta oss i styrelsen via doksek@oru.se.
    </p>
    <p>
        DokSek is a part of the student union and specifically for doctoral students
        regardless of the subject. We who work in DokSek are PhD students as well
        and work for improving our situation regarding the research education, work
        environment, our rights as students, information and other aspects of the
        life of the PhD students. We also organize seminars regarding important
        subjects for us to help us with our work and studies. The work is great fun
        and informative. If you are experiencing problems or like to get involved in
        DokSek please do not hesitate to contact us in the board at doksek@oru.se.
    </p>

    <h3>Kontaktuppgifter</h3>
    <table>
        <tr>
            <td>
                Ordförande
            </td>
            <td>
                Karin Blad
            </td>
            <td>
                karin.blad@oru.se
            </td>
            <td>
                019-303613
            </td>
        </tr>
        <tr>
            <td>
                Sekreterare
            </td>
            <td>
                Sezin Gunaltay
            </td>
            <td>
                sezin.gunaltay@oru.se
            </td>
            <td>
                019-302192
            </td>
        </tr>
        <tr>
            <td>
                Kassör
            </td>
            <td>
                Selen Savsin
            </td>
            <td>
                selen.savsin@oru.se
            </td>
            <td>
                019-303862
            </td>
        </tr>
        <tr>
            <td>
                Ledamot/Mailansvarig
            </td>
            <td>
                Jasmin Grosinger
            </td>
            <td>
                jansmin.grosinger@oru.se
            </td>
            <td>
                019-303575
            </td>
        </tr>
        <tr>
            <td>
                Ledamot
            </td>
            <td>
                Jennie Andersson
            </td>
            <td>
                jennie.andersson@oru.se
            </td>
            <td>
                019-303148
            </td>
        </tr>
    </table>
</div>
<div class="rightcolumn">
    <h2>
        DokSek - inte som andra sektioner
    </h2>
    <p>Doktorandsektionen skiljer sig från övriga sektioner i och med att de riktar sig till alla doktorander, oavsett ämnestillhörighet. 
    De har inte heller en egen färg eller ett sektionsrum, och har inte heller någon introduktion för nya studenter. Doktorandernas 
    sektion arbetar istället med andra frågor som rör doktoranders vardag. Skicka ett mail till doksek@oru.se om det är något du undrar över!</p>

</div>