@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "GIH";
    ViewBag.Type = "Sektion";
}

<div class="leftcolumn">
    <h2>GIH</h2>
    <p>
        GIH är den orangea sektionen och står för gymnastik idrott och hälsa, den tillhör du om du pluggar
        på MSR(management in sport and recreation), Tränarprogrammet samt till Idrottslärare.
        Då GIH är en liten sektion där i princip alla har samma intressen så känner de flesta varandra, och därför är
        GIH sektionen känd för sin gemenskap och trygghet. Förutom höstintroduktionen så anordnas det fester,
        finsittningar, idrottsturneringar mm under läsåren man pluggar på Örebro universitet.
    </p>
    <p>
        Om man ska läsa på universitet så tycker vi att man ska skapa så många härliga och roliga minnen som 
        möjligt och något som vi garanterar kommer ge dig minnen för livet är om du deltar i Sveriges bästa introduktion!
        Det är ett jättebra sätt för dig att komma in som nystudent och lära känna andra på sektionen oavsett klass eller termin.
        Introduktionen är 4 veckor lång där du kommer bli bjuden på aktiviteter, festligheter, utmaningar, 
        vänner för livet, uppdrag, ja allt du kan tänka dig helt enkelt!
        Huvudansvarig för introduktionen är GIH:sektionens generaler Marcus och Ellinor och till sin 
        hjälp har dem sina kaptener och faddrar. Detta är alltså engagerade studenter som lägger 
        sin fritid för att se till att nystudenterna får en bra start på sin studietid. Under 
        introduktionen delas ni in i grupper som tävlar mot varandra i kampen om årets nollegrupp, 
        men under de större evenemangen så är GIH enat och tävlar tillsammans mot de andra 
        sektionerna för att visa vilka som äger skolan!
    </p>
    <p>
        Vi hoppas att ni vill vara med och vi lovar att ni inte kommer ångra er!
        Har ni några frågor går det att hitta våra kontaktuppgifter under rubriken ”kontakt”. 
        Stay orange så ses vi höst! // Marcus och Ellinor
    </p>
    <h3>Kontaktuppgifter</h3>
    <table>
        <tr>
            <td>
                Ordförande
            </td>
            <td>
                Eric Carlsson
            </td>
            <td>
                ksledamot9@orebrostudentkar.se
            </td>
            <td>
                070 290 25 18
            </td>
        </tr>
        <tr>
            <td>
                Vice Ordförande
            </td>
            <td>
                Petter Amellind
            </td>
            <td>
                Petter.arnelind@hotmail.com 
            </td>
            <td>
                073 574 98 15
            </td>
        </tr>
        <tr>
            <td>
                Ordf. festkommittén
            </td>
            <td>
                Pontus Schwartz 
            </td>
            <td>
                schwartzeen@hotmail.com
            </td>
            <td>
                070 878 70 80
            </td>
        </tr>
        <tr>
            <td>
                Ordf. idrottskommittén
            </td>
            <td>
                Tomas Gunnarsson
            </td>
            <td>
                Tomashansgunnarsson@gmail.com 
            </td>
            <td>
                073 647 28 67
            </td>
        </tr>
        <tr>
            <td>
                General
            </td>
            <td>
                Ellinor Danielsson
            </td>
            <td>
                ellinordanielsson@live.se
            </td>
            <td>
                070 368 31 11 
            </td>
        </tr>
        <tr>
            <td>
                General
            </td>
            <td>
                Marcus Knagenhjelm
            </td>
            <td>
                marcus@knagenhjelm.se 
            </td>
            <td>
                076 891 13 61
            </td>
        </tr>
        <tr>
            <td>
                Utbildningsbevakare
            </td>
            <td>
                Johan Jakobsson
            </td>
            <td>
                kJjakobsson88@hotmail.se
            </td>
            <td>
                070 794 94 06
            </td>
        </tr>
        <tr>
            <td>
                Ordf. nya kommittén 
            </td>
            <td>
                Lizette Johansson
            </td>
            <td>
                l_j92@hotmail.com  
            </td>
            <td>
                073 507 92 63
            </td>
        </tr>
        <tr>
            <td>
                Ordf. klädkommittén
            </td>
            <td>
                Robin Meyer
            </td>
            <td>
                robinmeyer@live.se
            </td>
            <td>
                070 975 44 49
            </td>
        </tr>

    </table>
</div>
<div class="rightcolumn">
    <h2>Snabba fakta</h2>
    <hr />
    <p><b>Sektionsfärg:</b> <span style="color: orange">orange</span></p>
    <p><b>Sektionsrum: </b>I GIH-korridoren mitt emot HSG2, Gymnastikhuset</p>
    <p><b>Sektionsrummets öppettider: </b></p>
    <p><b>Hemsida:</b> Har ingen extern hemsia. </p>
    <p><b>Ämnen:</b> </p>
</div>