@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Grythyttan";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Grythyttan
</div>
<div class="leftcolumn">
    <h2>Grythyttan</h2>
    <p>Kårsektionen i Grythyttan är under uppstart! Mer info kommer senare i höst.</p>
    <img src="~/Content/Sektioner/grythyttanfadder.jpg" />
</div>
<div class="rightcolumn">
    <img class="center" src="~/Content/Sektioner/grythyttan.png" />
    <hr />
    @*<p><b>Sektionsfärg:</b> </p>
    <p><b>Sektionsrum: </b></p>
    <p><b>Sektionsrummets öppettider: </b></p>
    <p><b>Hemsida:</b>  </p>
    <p><b>Ämnen:</b> </p>*@
</div>