@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Grythyttan";
    ViewBag.Type = "Sektion";
}

<div class="leftcolumn">
    <h2>Grythyttan</h2>
    <img src="~/Content/Bilder/Grafik/Sektioner/grythyttanfadder.jpg" />
</div>
<div class="rightcolumn">
    <h2>Snabba fakta</h2>
    <hr />
    <p><b>Sektionsfärg:</b> </p>
    <p><b>Sektionsrum: </b></p>
    <p><b>Sektionsrummets öppettider: </b></p>
    <p><b>Hemsida:</b>  </p>
    <p><b>Ämnen:</b> </p>
</div>