@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Grythyttan";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Grythyttan
</div>
<div class="leftcolumn">
    <h2>Grythyttan</h2>
    <img src="~/Sektioner/grythyttanfadder.jpg" />
</div>
<div class="rightcolumn">
    <h2>Snabba fakta</h2>
    <hr />
    <p><b>Sektionsfärg:</b> </p>
    <p><b>Sektionsrum: </b></p>
    <p><b>Sektionsrummets öppettider: </b></p>
    <p><b>Hemsida:</b>  </p>
    <p><b>Ämnen:</b> </p>
</div>