@{
    ViewBag.Title = "Kårsektioner";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Kårsektioner
</div>
<div class="leftcolumn">
    <h2>Vad är en kårsektion?</h2>
    <p>
        Text om vad en kårsektion är Vero suscipit ea vis. In summo munere semper duo.
        Pro ex reque diceret intellegebat, sea prompta euismod id. Sint senserit et his.
        Numquam repudiare pri at, ex etiam liber appareat mei. Est at ridens meliore delicata.
    </p>

    <p>
        Ius cu probatus mnesarchum scriptorem, cum cu ferri iudicabit. Te amet suas salutandi pri.
        Ius possim democritum ad, te vix nulla eligendi, sit an minim maiestatis referrentur. Quo graeci
        mediocrem intellegam eu, usu te zril omittam oporteat. Ex modo iudicabit eam, fugit dicam eu nam.
        Ne eos ubique placerat, lorem dolor populo te ius, noster principes consequat vim ad.
        Ut hinc solum fabulas sit, per te labores euripidis. Regione nominati assentior pri ad,
        duo docendi accusam ei. Oratio petentium quo te, nonumy malorum detracto mel at.
        Mazim vitae nominavi eum ei.
    </p>

    <p>
        Ne eos ubique placerat, lorem dolor populo te ius, noster principes consequat vim ad.
        Ut hinc solum fabulas sit, per te labores euripidis. Regione nominati assentior pri ad,
        duo docendi accusam ei. Oratio petentium quo te, nonumy malorum detracto mel at.
        Mazim vitae nominavi eum ei.
    </p>
    <a href="#">
        <h2>

            Vilken kårsektion tillhör du? <br />
            Testa här!

        </h2>
    </a>
</div>
<div class="rightcolumn">
    <a href="~/Sektion/Corax">
        <img src="~/Content/Sektioner/corax.png" />
    </a>
    <hr />
    <a href="~/Sektion/DokSek">
        <img src="~/Sektioner/doksek.png" />
    </a>
    <hr />
    <a href="~/Sektion/GIH">
        <img src="~/Content/Sektioner/gih.png" />
    </a>
    <hr />
    <a href="~/Sektion/Grythyttan">
        <img src="~/Content/Sektioner/grythyttan.png" />
    </a>
    <hr />
    <a href="~/Sektion/Musik">
        <img src="~/Content/Sektioner/musik.png" />
    </a>
    <hr />
    <a href="~/Sektion/Serum">
        <img src="~/Content/Sektioner/serum.png" />
    </a>
    <hr />
    <a href="~/Sektion/Sesam">
        <img src="~/Content/Sektioner/sesam.png" />
    </a>
    <hr />
    <a href="~/Sektion/Sobra">
        <img src="~/Content/Sektioner/sobra.png"/>
    </a>
    <hr />
    <a href="~/Sektion/Teknat">
        <img src="~/Content/Sektioner/teknat.png" />
    </a>
</div>