@{
    ViewBag.Title = "Kårsektioner";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Kårsektioner
</div>
<div class="leftcolumn">
    <h2>Vad är en kårsektion?</h2>
    <p>
        Kårsektionerna är Örebro studentkårs organ på institutionerna. De har egna styrelser och deras huvuduppgift
        är att bedriva ÖS påverkansarbete gentemot institutionerna och institutionsledningarna. Kårsektionerna
        är de som befinner sig närmast studenterna och kan på så sätt snabbt och enkelt snappa upp de problem
        som finns vid Örebro universitet och bedriva ett arbete mot institutionerna för att förändra problemen.
        Utöver utbildningsbevakningen så genomför kårsektionerna bland annat introduktionen för de nya studenterna
        och aktiviteter för sina medlemmar under varje verksamhetsår. Kårsektionerna ansvarar också för att utse
        studentrepresentanter på institutionsnivå vid Örebro universitet i enlighet med ÖS valordning.
    </p>
    <p>
        ÖS har 9 stycken kårsektioner. Dessa är Corax, DokSek, GIH, Grythyttan, Musik, Sobra, Serum, Sesam, TekNat.
        Beroende på vilken utbildning du som student läser tillhör du en av de 9 kårsektionerna. Alla kårsektioner
        utom DokSek vänder sig till studenter på grund- och avancerad nivå. DokSek är en förkortning av
        Doktorandsektionen och är den kårsektion som du som doktorand tillhör. Tillsammans representerar de
        9 kårsektionerna alla studenter och doktorander på Örebro universitet.
    </p>

    <a href="#">
        <h2>

            Vilken kårsektion tillhör du? <br />
            Testa här!

        </h2>
    </a>
</div>
<div class="rightcolumn">
    <a href="~/Sektion/Corax">
        <img src="~/Content/Sektioner/corax.png" />
    </a>
    <hr />
    <a href="~/Sektion/DokSek">
        <img src="~/Content/Sektioner/doksek.png" />
    </a>
    <hr />
    <a href="~/Sektion/GIH">
        <img src="~/Content/Sektioner/gih.png" />
    </a>
    <hr />
    <a href="~/Sektion/Grythyttan">
        <img src="~/Content/Sektioner/grythyttan.png" />
    </a>
    <hr />
    <a href="~/Sektion/Musik">
        <img src="~/Content/Sektioner/musik.png" />
    </a>
    <hr />
    <a href="~/Sektion/Serum">
        <img src="~/Content/Sektioner/serum.png" />
    </a>
    <hr />
    <a href="~/Sektion/Sesam">
        <img src="~/Content/Sektioner/sesam.png" />
    </a>
    <hr />
    <a href="~/Sektion/Sobra">
        <img src="~/Content/Sektioner/sobra.png"/>
    </a>
    <hr />
    <a href="~/Sektion/Teknat">
        <img src="~/Content/Sektioner/teknat.png" />
    </a>
</div>