@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Musik";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Musik
</div>
<div class="leftcolumn">
    <h2>Musik</h2>
    <p>
        Musiksektionen är en av de mindre sektionerna på universitet och är förlagd på Musikhögskolan på campus.
        Musiksektionen är den sektion du tillhör då du studerar antingen bild, teaterpedagog, musikproduktion, musiklärare eller musiker.
    </p>

    <p>
        Då utbildningarna som är förlagda på musiksektionen endast tar in nya studenter till höstterminen, har musiksektionen
        endast en introduktion. Vanligtvis är introduktionen för musiksektionen cirka 3 veckor lång. Huvudansvarig för introduktionen
        är Musiksektionens general/generaler. Till sin hjälp har generalen/generalerna sina faddrar. Detta är alltså engagerade
        studenter som lägger sin fritid för att se till att nystudenterna får en bra start på sin studietid. Musiksektionen är
        känd för sin familjära och roliga introduktion vilket är något vi är väldigt stolta över.
    </p>
    <img src="~/Content/Sektioner/musikfadder.jpg" />
    <p>
        Givetvis har sektionen en styrelse. Denna styrelse består av nio stycken personer som även dom är
        engagerade studenter som arbetar ideellt för att driva sektionens arbete framåt och för att se
        till att studenternas studietid ska bli så bra som möjligt.
    </p>
    <p>
        Musiksektionens styrelse är en del av Örebro studentkår och har ett gott samarbete. Musiksektionen
        arbetar hårt för att få ännu fler att vilja engagera sig, både som general, fadder, sitta med
        i styrelse och genom att vara medlem i Örebro studentkår.
    </p>
    <h4>
        Och till sist, det viktigaste av allt: <br />
        - musik är rosa, rosa är musik! "
    </h4>
    <h3>Kontaktuppgifter</h3>
    <table>
        <tr>
            <td>
                Ordförande
            </td>
            <td>
                Emma Hedlund
            </td>
            <td>
                lillasyster.hedlund@hotmail.com 
            </td>
            <td>
                070-3517321
            </td>
        </tr>
        <tr>
            <td>
                Vice ordförande
            </td>
            <td>
                Matilda Lundström
            </td>
            <td>
                matildalundstrom@hotmail.com
            </td>
            <td>
                073-7365040 
            </td>
        </tr>
        <tr>
            <td>
                Vice sekreterare 
            </td>
            <td>
                Kristofer Melin
            </td>
            <td>
                Kristofer.melin@hotmail.com
            </td>
            <td>
                076-8529925
            </td>
        </tr>
        <tr>
            <td>
                Kassör
            </td>
            <td>
                Joel Larsson
            </td>
            <td>
                Joellarsson92@gmail.com
            </td>
            <td>
                076-8801861
            </td>
        </tr>
        <tr>
            <td>
                Utbildningsbevakare
            </td>
            <td>
                Jacob Lööf Larsson
            </td>
            <td>
                jacob_loof@outlook.com
            </td>
            <td>
                070-5141521
            </td>
        </tr>
        <tr>
            <td>
                Studerandeskyddsombud
            </td>
            <td>
                Erik Andersson
            </td>
            <td>
                Erianh115@studentmail.oru.se
            </td>
            <td>
                073-0482155
            </td>
        </tr>
        <tr>
            <td>
                Klubbmästare
            </td>
            <td>
                Sofie Wältare
            </td>
            <td>
                sofie.waltare@hotmail.com
            </td>
            <td>
                070-9647481
            </td>
        </tr>
        <tr>
            <td>
                Informatör
            </td>
            <td>
                Amanda Engström
            </td>
            <td>
                mandise@hotmail.com
            </td>
            <td>
                0737275884
            </td>
        </tr>
    </table>

</div>
<div class="rightcolumn">
    <h2>Snabba fakta</h2>
    <hr />
    <p><b>Sektionsfärg:</b> <span style="color: pink">rosa</span></p>
    <p><b>Sektionsrum: </b>M1110</p>
    <p><b>Sektionsrummets öppettider: </b> Onsdagar 12-13</p>
    <p><b>Hemsida:</b> Har ingen extern hemsia. </p>
    <p><b>Ämnen:</b> </p>
</div>