@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Sesam";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Sesam
</div>
<div class="leftcolumn">
    <h2>Sesam</h2>
    <p>
        Sesam är kårsektionen för dig som läser ekonomi, informatik och statistik.
        Vi grundades 1993 och har sedan dess funnits med syfte att bevaka utbildningen,
        engagera medlemmar socialt och ge dem en naturligare väg in i näringslivet efter studierna.
        Återkommande aktiviteter är bland annat Mentorskapsprojektet, Campusmässan, Båtfesten och
        Introduktionen. Vi är stolta över vår introduktion som är en av Sveriges längsta och bästa
        i slaget, där du som ny student snabbt har möjlighet att komma in i studentlivet!
    </p>
    <p>Du kan läsa mer om oss på vår hemsida: <a href="http://www.sesamit.se">www.sesamit.se</a>.</p>
</div>
<div class="rightcolumn">
    <img class="center" src="~/Content/Sektioner/sesam.png" />
    <hr />
    <p><b>Sektionsfärg:</b> <span style="color: navy">marinblå</span></p>
    <p><b>Sektionsrum: </b>Nära Krakafoajen i Långhuset, snett mittemot L103.</p>
    <p><b>Sektionsrummets öppettider: </b> Vardagar 12-13</p>
    <p><b>Hemsida:</b> <a href="http://www.sesamit.se">www.sesamit.se</a></p>
    <p><b>Ämnen:</b> Ekonomi, informatik, statistik</p>
</div>