@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Sesam";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Sesam
</div>

<h2>Sesam</h2>
