@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Sobra";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Sobra
</div>
<div class="leftcolumn">
    <h2>Sobra</h2>
    <p>
        Sobrasektionen är en av de större kårsektionerna vid Örebro Universitet. Du tillhör Sobrasektionen
        om du studerar; Rättsvetenskapliga programmet, Juristprogrammet, Socialt arbete, Psykologi eller
        Kriminologi. Sobrasektionen består därav av både människor som pluggar program och som pluggar fristående kurser.
        Sobrasektionen har antagna studenter på både Höstterminen och Vårterminen. För att ge våra studenter bästa
        möjliga start på sitt universitetsliv så har vi en introduktion. Introduktionen leds av två generaler, en
        planeringsgrupp på åtta personer som kallas rättspsyk samt fantastiska faddrar. Vi gör en introduktion
        som ska passa alla. Därav består introduktionen av en mix av fester, tävlingar, sittningar, bokbytardagar
        och vattenkrig. Med andra ord, en helt fantastisk blandning.
    </p>
    <img src="~/Content/Sektioner/sobrafadder.jpg" />
    <p>
        Sobrasektionen har såklart även en styrelse. Styrelsen består av en mängd olika poster som bland annat
        jobbar för att du ska få den utbildningen som du har blivit lovad. Det finns många sätt att
        engagera sig inom Sobra. För att nämna några exempel så kan du exempelvis vara fadder, sitta i
        fullmäktige, ha en styrelsepost eller engagera dig i någon utav våra utskott. Våra utskott
        består av rättspsyk, som leds utav generalerna. Socia, som är ett utskott för personer som
        studerar socialt arbete. Superego, som är ett utskott för psykologistudenter samt sexmästeriet
        som håller i studiesociala aktiviteter utöver introduktionen. Vill du veta mer om oss? Vi
        håller till i vårt sektionsrum i långhuset mittemot L103! Håll även utkik på vår facebooksida
        "Sobrasektionen" samt vår instagram "sobrasektionen". Och sist men inte minst,
        Sobras sektionsfärg är den mycket eminenta och fina färgen, SVART!
    </p>
</div>
<div class="rightcolumn">
    <h2>Snabba fakta</h2>
    <hr />
    <p><b>Sektionsfärg:</b> svart</p>
    <p><b>Sektionsrum: </b>I långhuset mittemot L103</p>
    <p><b>Sektionsrummets öppettider: </b></p>
    <p><b>Hemsida:</b> <a href="http://www.sobrasektionen.com/">sobrasektionen.com</a></p>
    <p><b>Ämnen:</b> </p>
</div>