@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Teknat";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > TekNat
</div>
<div class="leftcolumn">
    <h2>Teknat</h2>
    <img src="~/Content/Sektioner/teknatfadder.jpg" />
</div>


<div class="rightcolumn">
    <h2>Snabba fakta</h2>
    <hr />
    <p><b>Sektionsfärg:</b> </p>
    <p><b>Sektionsrum: </b></p>
    <p><b>Sektionsrummets öppettider: </b></p>
    <p><b>Hemsida:</b>  </p>
    <p><b>Ämnen:</b> </p>
</div>
