@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Teknat";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > TekNat
</div>
<div class="leftcolumn">
    <h2>Teknat</h2>
    <p>Läs mer om oss på vår hemsida: <a href="http://www.teknat.se">www.teknat.se</a></p>
    <img src="~/Content/Sektioner/teknatfadder.jpg" />
</div>


<div class="rightcolumn">
    <h2>Snabba fakta</h2>
    <hr />
    <p><b>Sektionsfärg:</b> <span style="color: purple">Lila</span> </p>
    <p><b>Sektionsrum: </b>T110</p>
    <p><b>Sektionsrummets öppettider: </b></p>
    <p><b>Hemsida:</b> <a href="http://www.teknat.se">www.teknat.se</a> </p>
    <p><b>Ämnen:</b>   Automatiseringsteknik, Biologi, Byggteknik, Datateknik, Elektroteknik, Energisystemteknik, Industridesign, 
                Industriell ekonomi, Kemi, Kvalitetsteknik, Logistik, Maskinteknik, Matematik, Miljövetenskap, Naturvetenskaplig omvärldsorientering, 
    Teknik och Teknik för lärare </p>
</div>
