@{
    ViewBag.Title = "Om oss";
    ViewBag.SubTitle = "Dokument";
}

<h2>Dokument</h2>
<p>Sida som inte finns med i menyn, tanken är att i framtiden ska det finnas olika typer av dokument här, men endast för medlemmar.</p>