    <ol>
        <li>
            Studenter har rätt att vara med och fatta beslut kring sin utbildning. Därför finns det studentrepresentantplatser i
            flera olika råd och nämnder på Örebro Universitet.
            <a href="/Om/Studentrepresentanter">Läs mer -></a>
        </li>
        <li>
            Fullmäktige är det högst beslutande organet inom Örebro studentkår och består av 41
            ledamöter som representerar sin kårsektion. Fullmäktige sammanträder fyra gånger per år och beslutar
            vilken riktning Örebro studentkår ska arbeta mot. <a href="/Om/FUM">Läs mer -></a>
        </li>
        <li>
            Kårstyrelsen är studentkårens verkställande organ och direkt underställd Fullmäktige. Kårstyrelsen består av nio ledamöter,
            en för varje kårsektion, samt ordförande och vice ordförande. <a href="/Om/KS">Läs mer -></a>
        </li>
        <li>
            Underställd kårstyrelsen har ÖS en mängd råd i vilka inom ÖS engagerade medlemmar träffas. Dessa råd är av olika karaktär.
            Några av råden är bland annat utbildningsbevakarrådet, i vilket alla kårsektioners utbildningsbevakare träffas, UniSex, inom vilket
            alla kårsektioners sexmästare träffas, samt kassörrådet, inom vilket alla kårsektioners kassörer träffas.
        </li>
        <li>
            ÖS driver en del projekt under ett verksamhetsår. Ett återkommande projekt är akutboendet, som hjälper nya studenter att få en
            en tillfällig sovplats tills de hittar ett permanent boende.
        </li>
        <li>
            På ÖS kansli är tre personer heltidsarvoderade: ÖS ordförande, ÖS vice ordförande och ÖS studiesocialt ansvarige.
            Att en person är arvoderad innebär att personen får en fast ersättning för att utföra sitt uppdrag.
            <a href="/Om/Roller">Här</a> kan du läsa mer om vad de arvoderades uppgifter är.
        </li>
        <li>
            På ÖS centralt arbetar tre tjänstemän, en informatör och ett student- och doktorandombud (kallas kort studentombudet)
            på heltid samt en ekonom på 50 %. Läs mer om dessa roller <a href="/Om/Roller">här</a>
        </li>
        <li>
            Kårsektionerna delar in studenter efter ämnesområden och det finns nio kårsektioner inom Örebro studentkår. Dessa är studentkårens
            operativa del och arbetar närmast studenterna. Det är till din studentsektion som sköter bland annat utbildningsbevakning
            och anordnar den lokala introduktionen. <a href="/Sektion/Index">Läs mer -> </a>
        </li>
        <li>
            Lösnummer är ÖS tidning. Lösnummers uppdrag är att granska Örebro universitet, ÖS och att rapportera om sådant som kan
            vara av intresse för studenterna. <a href="/Studentliv/Losnummer">Här</a> kan du läsa mer om Lösnummer.'
        </li>
    </ol>
