@{
    ViewBag.Title = "Om oss";
    ViewBag.SubTitle = "Stipendium";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Stipendium
</div>
<div class="leftcolumn">
    <h2>
        Örebro Studentkårs stipendium
    </h2>
    <p>Örebro studentkår (ÖS) kan varje termin utbetala stipendium till uppsatser som är till 
    hjälp i studentkårens arbete. Ansökan om stipendium skickas till Kårstyrelsen, som går igenom ansökningarna och därefter lyfter 
    förslag om att utdela stipendium till ÖS Fullmäktige för beslut. Stipendiets storlek är 2000 kr.
    </p>
    <p>
        De kriterier som finns för utdelning ur ÖS stipendiefond fastslår följande:
    </p>
    <ul class="list">
        <li>Uppsatsen ska vara vetenskaplig, godkänd och omfatta minst 15 hp</li>
        <li>Uppsatsen ska behandla problemställningar inom ÖS verksamhet eller högskola i allmänhet</li>
        <li>Uppsatsen ska vara användbar i ÖS arbete</li>
    </ul>
    <p>
        Ansökan skickas till stipendie@orebrostudentkar.se och sker löpande för läsåret 2014/2015. 
    </p>
    
</div>