@{
    ViewBag.Title = "Om oss";
    ViewBag.SubTitle = "Val";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Val
</div>
<div class="leftcolumn">
    <h2>
        Val 2015
    </h2>
    <p>
        Vilka val är det som finns? Kort om dessa! 
        Nästa val kommer hållas i april 2015. Då kommer information om detta dyka upp här.
    </p>

</div>
