* {
    font-family: Garamond; 
    color: black; 
}
body {
    margin: 0; 
    padding: 0; 
}
ul, li {
    margin: 0; 
    padding: 0; 
}
header, footer, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Century Gothic';
}
p {
    font-size: large;  
}
a {
    text-decoration: none; 
}
p > a:hover {
    font-weight: bold; 
}
td {
    padding: 5px; 
    border-bottom: 1px solid grey; 
}
dt {
    padding-bottom: 3px; 
    padding-top: 5px; 
    font-weight: bold; 
    font-size: larger; 

}
dd {
    font-size: large; 
}

/*Container*/
#site {
    width: 1020px;
    margin: auto;
}

/*Sidorna*/
.leftcolumn {
    width: 60%; 
    float: left; 
}

.rightcolumn {
    width: 30%; 
    float: right; 
}


/*Header*/
header {
    width: 100%; 
    height: 220px;
}

#headerbackground {
    height: 220px;
    width: 100%;
    background-image: url(/Content/Bilder/Grafik/headerdel.gif);
    background-repeat: repeat-x;
    position: absolute;
    z-index: -1;
}
#headerpic {
    float: left; 
}

#blimedlem {
    display: block;
    height: 190px;
    width: 180px;
    margin-top: 30px;
    float: right;
    background-image: url(/Content/Bilder/Grafik/blimedlem.png);
}

/*Navigering*/
#navbackground {
    position: absolute; 
    margin-top: 262px; 
    border-bottom: 1px solid black; 
    width: 100%; 
    z-index: -1;
}
.menyitem {
    display: inline-block; 
    padding: 10px; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; 
    border-bottom: 1px solid black; 
    border-left: 1px solid white; 
    border-top: 1px solid white; 
    border-right: 1px solid white; 
}
.menyitem:hover {
    background-color: #D8D8D8; 
}
.menyitem > a {
    font-family: 'Century Gothic'; 
 }
.active {
    background-color: #B8B8B8; 
    border-top: 1px solid black; 
    border-left: 1px solid black; 
    border-right: 1px solid black;  
    border-bottom: 1px solid #B8B8B8; 
}

ul.nav > li ul.dropdown-menu {
    display: none;
}

ul.nav > li:hover ul.dropdown-menu {
    display: block;
    position: absolute; 
    list-style: none; 
    background-color: transparent; 
    padding-top: 20px; 
}
ul.nav > li:hover ul.dropdown-menu > li {
    
    background-color: white; 
}
ul.nav > li:hover ul.dropdown-menu > li > a {
    
    font-family: 'Century Gothic';
    display: block; 
    padding: 10px;  
}
ul.nav > li:hover ul.dropdown-menu > li:hover {
    background-color: #D8D8D8; 
}
nav {
    margin-bottom: 50px;
}
nav > ul > li > a {
    text-decoration: none; 
}

/*Footer*/
footer {
    width: 100%;
    background: #43a838;
    position: fixed;
    bottom: 0;
    padding: 15px; 
}
#footercontent {
    width: 1020px;
    margin: auto;
    height: 60px; 
}
#postadress {
    width: 260px; 
    float: right;  
}
#kontaktuppgifter {
    width: 260px; 
    float: left;  
}
#kansliöppettider {
    width: 260px; 
    position: absolute; 
    margin-left: 365px; 
}
#footerseparator {
    width: 100%; 
    height: 50px; 
    margin-bottom: 65px;
    clear: both; 
}

/*Nyhetsflöde*/
.nyhetssignatur { 
    float: right;
    font-style: italic;
    font-size: large;
}

/*Kontaktformulär*/
#contactform {
    padding: 10px; 
}
.label {
    font-size: larger; 
}
.form-group {
    padding-bottom: 10px; 
}

.textbox {
    width: 400px; 
    height: 24px; 
    font-family: Verdana; 
}
textarea {
    width: 400px; 
    height: 200px; 
}
button {
    width: 60px; 
    height: 24px; 
    font-size: large; 
}

/*Lightbox, modalen som poppar upp från imagemapen*/

.backdrop {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background: #000; 
    opacity: .0; 
    filter: alpha(opacity=0); 
    z-index: 50; 
    display: none; 
}
.box {
    position: fixed; 
    left: 30%; 
    width: 500px; 
    height: 300px; 
    background: white; 
    z-index: 51; 
    padding: 10px; 
    border-radius: 5px; 
    display: none; 
}
.close {
    float: right; 
    margin-right: 6px; 
    cursor: pointer; 
}

/* Standardgrejer nedanför, inget jag har gjort, följde med från template 
-------------------------------------------------------------------------*/

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
