@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Amnesty";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Forening/Index">Samarbetsföreningar</a> > Amnesty Juristgruppen
</div>
<div class="leftcolumn">
    <h2>Amnesty Juristgruppen</h2>
    <img class="foreningslogga" src="~/Images/Foreningar/amnesty.png" />
    <p>
        Vi är en grupp bestående av jurist- och rättsvetenskapstuderande som jobbar för att stärka de
        mänskliga rättigheterna i vår omvärld. Mänskliga rättigheter ska gälla alla alltid. Trots detta
        kränks människors rättigheter varje dag runt om i världen.
    </p>
    
    <p>
        Juristgruppen arbetar med att stärka skyddet för mänskliga rättigheter i såväl nationell som
        internationell lagstiftning och rättstillämpning. Ett sätt vi försöker att göra detta på
        är genom att utöva påtryckningar mot stater att ratificera internationella dokument som
        stärker skyddet för mänskliga rättigheter.
    </p>
    <p>
        En av juristgruppens huvuduppgifter är att bistå svenska sektionen av Amnesty International med
        juridisk kompetens. Detta sker bland annat genom att utbilda andra medlemsstrukturer i folkrätt
        och mänskliga rättigheter. Målsättningen är att Amnestys sektionsstyrelse, sekretariat, specialgrupper,
        samordnare, distrikt och arbetsgrupper ska kunna få hjälp i juridiska spörsmål.
    </p>
    <p>
        Opinionsbildning är en annan viktig del av vårt arbete. Juristgruppen försöker aktivt bidra till
        ett ökat intresse för frågor som rör mänskliga rättigheter inom vår yrkeskår och att
        bredda allmänhetens kunskaper inom området. Vi har bland annat jobbat med olika Amnesty
        kampanjer, haft föreläsare på universitetet samt föreläst själva på olika gymnasie- och folkhögskolor.
    </p>
    <p>
        Som medlem i gruppen är du även välkommen att åka iväg på olika utbildningar som Amnesty anordnar eller
        studieresor. Medlemskap i gruppen är kostnadsfritt, krav är att man studerar juridik eller rättsvetenskap
        vid Örebro universitet samt blir medlem i Amnesty.
    </p>
    <p>
        Gilla <a href="https://www.facebook.com/AmnestyJuristgruppenVidOrebroUniversitet">vår facebooksida</a> och
        bli medlem i gruppen genom att maila juristgruppen.orebro@mail.amnesty.se.
        Besök även svenska amnestysektionens <a href="http://www.amnesty.se/">hemsida</a> för mer information om organisationen.</p>
</div>
@RenderPage("Foreningslista.cshtml")