@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Örebro beerpongsällskap";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Forening/Index">Samarbetsföreningar</a> > Örebro beerpongsällskap
</div>
<div class="leftcolumn">
    <h2>Örebro beerpongsällskap</h2>
    
    <p>
        Studentföreningen Örebro Beerpongsällskap erbjuder en mötesplats för alla studenter vid Örebro universitet.
        Vi arrangerar turneringar och evenemang där alla kan visa sina färdigheter i gentlemansporten beerpong.
        Med ÖBS får man möjlighet att lära känna nya människor i stort sett vid varje evenemang.
    </p>
    <p>
        Örebro Beerpongsällskap arrangerar turneringar där studenter och beerpongspelare kan mäta sina färdigheter
        mot varandra och tävla om titeln som Örebros bästa beerponglag. Örebro beerpongsällskap ser beerpong som
        en gentlemanssport och vi har tydliga regler för ett schysst spel som passar alla. Vid spel och turneringar
        med ÖBS är det valfri dryck som gäller.
    </p>
    <p>
        Läs mer på <a href="http://www.beerpongsallskapet.se">www.beerpongsallskapet.se</a>
    </p>
    <img src="~/Images/Foreningar/beerpong.png" />
</div>

@RenderPage("Foreningslista.cshtml")
