@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Gröna studenter";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Forening/Index">Samarbetsföreningar</a> > Gröna studenter
</div>
<div class="leftcolumn">
    <h2>Gröna Studenter Örebro</h2>
    <p>
        Vi söker dig som vill vara med i Gröna Studenter (GS) Örebro. Hur ditt engagemang ser ut bestämmer du själv.
        Kanske vill du vara med och ordna aktiviteter? Det kan handla om allt mellan filmkvällar bara för medlemmar
        eller politiska debatter dit alla bjuds in.
    </p>
    <p>
        Under förra läsåret bjöd GS Örebro bland annat in till en antirasistisk föreläsningsvecka i samarbete med andra politiska studentförbund.
    </p>
    <h3>Vår politik</h3>
    <p>
        Gröna Studenter är Miljöpartiet de grönas studentförbund. Vi fungerar som ett nätverk och ett
        forum för studenter som är intresserade av grön politik.

        GS är en del av Miljöpartiet. Det innebär att vi driver samma politik som partiet och är
        med och utformar den politik som ska drivas. En av våra uppgifter som ett grönt studentförbund är att bevaka och
        utveckla studentpolitiken, men vi ger också studentersperspektiv på hur politik bör drivas i övriga samhället.
    </p>

    <h3>Kontakt</h3>
    <p>
        Om du är intresserad av GS Örebro eller har frågor så skicka ett mail till 
        <a href="mailto:orebro@gronastudenter.se">orebro@gronastudenter.se</a> eller kontakta: 
    </p>
    <p>
    Magnus Lander, språkrör: 073-329 23 93 <br />
    Martin Arvidsson: 070-376 11 78<br />
    Emma Ode, politisk sekreterare: 076-551 57 86 
    </p>
</div>
@RenderPage("Foreningslista.cshtml")