@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Medicinska föreningen";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Forening/Index">Samarbetsföreningar</a> > Medicinska föreningen
</div>
<div class="leftcolumn">
    <h2>Medicinska Föreningen Örebro</h2>
    <img class="foreningslogga" src="~/Content/Foreningar/mf.png" />
    <p>
        Medicinska Föreningen Örebro startades för att främja gemenskapen bland läkarstudenter vid Örebro universitet.
        Idag har vi ett antal utskott som anordnar allt ifrån gasquer på slottet, sittningar och pubar till
        idrottsträningar och kliniska övningskvällar där man kan glänsa med sitt stetoskop, och mycket mer.
    </p>

    <p>
        Medlemskap för läkarstudenter vid Örebro universitet är kostnadsfritt och anmälan görs via MFÖ:s hemsida.
        Det är även möjligt att bli stödmedlem. MFÖ är en politiskt, religiöst och fackligt obunden förening.
    </p>
    <p>
        Vill du engagera dig? <br />
        Eller helt enkelt ha mer information?<br />
        Besök gärna vår hemsida <a href="http://www.mforebro.se">www.mforebro.se</a> 
        eller på <a href="http://www.facebook.com/mforebro">www.facebook.com/mforebro</a>
    </p>
</div>

@RenderPage("Foreningslista.cshtml")