@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Skåne Nation";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Forening/Index">Samarbetsföreningar</a> > Skåne Nation
</div>
<div class="leftcolumn">
    <h2>Skåne Nation</h2>

    <img class="foreningslogga" src="~/Content/Foreningar/skane.png" />
    <p>
        Skåne Nation är en studiesocial förening som verkar för att hjälpa Örebro universitets studenter att
        utvidga det sociala nätverket samt skapa gemenskap mellan sektionerna. Varje fredag har Skåne
        nation en efterfest som kallas PUBlicum som pågår från midnatt i Skåne Nations egna mysiga lokal
        på studentgatan 26. Här finns det utrymme för att umgås och dansa även efter att kåren stängt och
        det finns alltid korv med bröd att köpa för 10 kr styck. Alla är välkomna på fredagar inget speciellt
        medlemskap krävs och inträdet är helt gratis. För att stödja Skåne Nation kan medlemskap köpas för
        50 kronor per termin.
    </p>
    <p>
        Skåne Nations medlemmar har extra förmåner så som att önska musik gratis
        under de kvällar vår lokal är öppen, för de som inte är medlemmar kostar det 5 kronor per önskad
        låt. Föreningens medlemmar får även ett reducerat pris vid special evenemang så som den skånska
        gåsmiddagen som kommer äga rum under november månad. För att skapa en gemenskap med andra
        sektioner och föreningar hyr vi ut vår lokal för event, fester och efterfester till intresserade personer
        och grupper på kvällar Skåne Nation inte har en egen öppen kväll.
    </p>
    <p>Vill du veta mer? Skicka ett mail till: skane.nation@gmail.com</p>
</div>

@RenderPage("Foreningslista.cshtml")