@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Örebrospexet";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Forening/Index">Samarbetsföreningar</a> > Örebrospexet
</div>
<div class="leftcolumn">
    <h2>Örebrospexet – för en roligare studietid!</h2>
    <p>
        Örebrospexet är en förening som varje år sätter upp en spexföreställning. Ett spex är en
        musikalliknande humoristisk teaterföreställning som bygger på en historisk eller litterär
        händelse. Spexet berättar den ”sanna” versionen, hur det egentligen gick till. Vi har funnits på
        universitetet sedan 1997 och har hittills satt upp 20 olika produktioner.
    </p>
    <p>
        Varje år är vi ungefär 50 personer som engagerar sig på olika sätt i produktionen. I spexet
        kan du göra nästan vad som helst: Agera, snickra, sy, skriva låttexter, sjunga, spela instrument,
        laga mat, måla, dansa, jaga sponsorer, sköta ljud&ljus, sminka, designa trycksaker, fixa fester...
    </p>
  
    <p>
        I början av hösten spelar vi en extraföreställning av vårens produktion, den s.k. Nolleföreställningen.
        Ta chansen att uppleva vad ett spex är! Hösten 2014 är det lördag 20 september som gäller.
        Därefter drar arbetet med produktionen igång. Premiären och övriga föreställningar brukar ligga i mars.
    </p>
    <p>
        Spexet består mestadels av studenter, som går alla möjliga olika utbildningar. Om just Du känner
        att du vill lära känna nya härliga personer, få göra något kreativt vid sidan av studierna och
        dessutom ha väldigt roligt under tiden – då är Örebrospexet rätt för dig!
    </p>
    <h4>Vill du veta mer?</h4>
    <p>
        Gör då något av följande:
    </p>
    <ul class="list">
        <li>Spana in vår hemsida <a href="http://www.orebrospexet.com">www.orebrospexet.com</a></li>
        <li>Gilla <a href="https://www.facebook.com/pages/%C3%96rebrospexet/127407927298077">vår sida</a> på facebook</li>
        <li>Maila producenterna på producent@orebrospexet.com</li>
    </ul>
    <img src="~/Images/Foreningar/spex.png" />
</div>

@RenderPage("Foreningslista.cshtml")