@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Utrikespolitiska föreningen";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Forening/Index">Samarbetsföreningar</a> > Utrikespolitiska Föreningen
</div>
<div class="leftcolumn">
    <h2>Utrikespolitiska Föreningen i Örebro</h2>

    <img class="foreningslogga" src="~/Images/Foreningar/uflogga.gif" />
    <p>
        Fredrik Reinfeldt, Carl Bildt, Magdalena Andersson, Lars Ohly, Lars Vilks och Birgitta Ohlsson.
        Det är några av de föreläsare som Utrikespolitiska föreningen bjudit in till Örebro universitet
        de senaste åren. Som medlem i föreningen har du möjlighet att gå på alla föreläsningar och delta
        i alla våra andra aktiviteter.
    </p>
    <p>
        Utrikespolitiska föreningen Örebro (UF Örebro) är en studentförening med syfte är att sprida kunskap
        om gränsöverskridande frågor där bland annat ekonomi, människor, kultur och politiska system står i
        fokus. Föreningen riktar in sig med en rad aktiviteter på följande områden:
    </p>
        <ul class="list">
            <li>Föreläsningar</li>
            <li>Studieresor</li>
            <li>Karriär</li>
            <li>Sociala aktiviteter</li>
        </ul>
    <p>
        Så är du minsta intresserad av spännande föreläsningar, frågor rörande internationella karriärvägar, 
        sköna diskussioner om utrikespolitik eller resor till London, Bryssel, Berlin eller liknande så är 
        Utrikespolitiska föreningen något för dig!
    </p>
    <p>
        För mer info, besök vår hemsida <a href="http://www.uforebro.se">www.uforebro.se</a> eller vår 
        facebooksida <a href="http://www.facebook.com/uforebro">www.facebook.com/uforebro</a>
    </p>
    <p>
        <b>Vänligen</b><br />
        <em>Utrikespolitiska föreningen i Örebro</em>
    </p>
    

</div>
@RenderPage("Foreningslista.cshtml")