@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Engagera dig";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Engagera dig
</div>
<div class="leftcolumn">
    <h2>
        Engagera dig
    </h2>
    <p>För den som vill engagera sig i Örebro studentkår finns flera vägar att gå. Oavsett om du vill 
    påverka din utbildning, bidra till det studiesociala livet eller anordna fantastiska fester och sittningar
    finns det en plats för dig. Nedan hittar du områden där du kan engagera dig - är det något du undrar är du välkommen att
    kontakta studiesocialt ansvarig Isabella Samuelsson på studsoc@orebrostudentkar.se</p>
    <h3>Unisex</h3>
    <p>
        I Unisex får alla kårsektioners sexmästerier/festkommittéer/studiesociala utskott sitta med.
        Där möts vi kårsektionsöverskridande för att planera aktiviteter tillsammans och utbyta idéer
        sinsemellan. Exempel på aktiviteter som genomförts är sittningar, grillningar och biovisningar.
        Vill du vara en del av Unisex och planera tillställningar? Kontakta din kårsektions sexmästare/ansvarig
        för festkommitté!
    </p>
    
    <h3>Skyddsråd</h3>
    <p>
        Skyddsråd är en samlingspunkt för alla kårsektioners studerande skyddsombud. Här värnar vi om
        studiemiljön och diskuterar hur vi kan försöka påverka universitets studiemiljö så den blir
        ännu bättre. Exempel på vad som genomförts i skyddsrådet är skyddsronder för alla olika hus
        på universitetet, det vill säga en granskning så att studiemiljön i varje hus är av god kvalitet.
    </p>

    <h3>Introduktion</h3>
    <p>
        Varje terminsstart anordnar Örebro studentkår tillsammans med Örebro universitet en
        introduktion för alla nya studenter. För att denna ska vara möjlig finns det flera faddrar
        vilka fungerar som de nya studenternas mentorer under deras första tid. Som fadder introducerar
        du de nya studenterna till såväl den sociala som den akademiska delen av hur det är att studera
        vid Örebro universitet. Är du intresserad av att vara fadder för din kårsektion eller
        samarbetsföreningen ESN? Kontakta din general och håll ögonen öppna efter nästa Faddersläpp!
    </p>
    <h3>Föreningar</h3>
    <p>
        Det finns gott som samarbetsföreningar till Örebro studentkår. Dessa föreningar sysslar med
        allt mellan himmel och jord, vissa sysslar med sportaktiviteter, andra med politik medan de
        tredje är enbart sociala föreningar som anordnar aktiviteter. I en förening kan du engagera
        dig på ett flertal olika sätt, dels som medlem och delta på aktiviteterna, men också som
        styrelsemedlem och föra föreningens arbete framåt. För att se vilka föreningar som finns 
        <a href="~/Forening/Index">klicka här</a>. 
    </p>
    <h3>Lösnummer</h3>
    <p>
        Lösnummer är Örebrostudenternas tidning och en del av Örebro studentkår. Alla studenter som är
        intresserade av bild, att skriva, fotografera och illustrera kan söka sig till redaktionen.
        Tidningens uppdrag är att informera studenterna om studentlivet och granska Örebro studentkår
        och Örebro universitet. Lösnummers redaktion består av studenter från campus Örebro och campus
        Grythyttan. Lösnummer och redaktionen leds av chefredaktören. 
        Läs mer om studenttidningen på <a href="http://www.losnummer.se">www.losnummer.se</a>
    </p>
    <h3>Din kårsektion</h3>
    <p>
        Det finns nio olika kårsektioner på Örebro universitet och alla arbetar tillsammans med studentkåren 
        för att öka kvaliteten på din studietid. Flera av sektionerna anordnar återkommande projekt och 
        det behövs alltid engagerade studenter för att driva kårsektionernas arbete. 
        <a href="~/Sektion/Index">Klicka här</a> för att läsa mer om kårsektionerna. 
    </p>
</div>
