@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Hyra lokal";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Lokaler
</div>
<div class="leftcolumn">
    <h2>
        Lokaler
    </h2>
    <p>
        Som medlem i Örebro studentkår eller representant för någon av våra samarbetsföreningar kan du hyra lokaler 
        genom vårt kansli. Röda paviljongen är vår byggnad som kan hyras för sociala aktiviteter. Byggnaden är belägen i 
        ena änden av campus, vid idrottsplanerna, och hyrs per dygn (500 kr/dygn). De flesta av universitetets lärosalar 
        kan lånas gratis under dag- och kvällstid för till exempel möten och studiegrupper. För både universitets lokaler 
        och Röda paviljongen krävs bokning på förhand via Örebro studentkårs kansli:
    </p>
    <p>
        Epost: kansli@orebrostudentkar.se <br />
        Telefon: 019 – 676 23 50 <br />
        Övrig kontaktinformation hittar du <a href="/Home/KontaktaOss">här.</a>
    </p>

</div>
