@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Hyra lokal";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Lokaler
</div>
<div class="leftcolumn">
    <h2>
        Hyra lokal  
    </h2>
    <p>
        Artikel om vilka lokaler som kan hyras och hur man gör detta. Kanske också om att boka lokaler i universitetet? 
        No augue vituperata nec, ea possit ornatus nam. Ignota integre quaerendum ea vel,
        vel novum dicam bonorum ei. Affert decore ut pri. Sea an phaedrum inciderint,
        prima tincidunt at nec, ad sed nonumy vivendo qualisque. Quis blandit abhorreant eu
        vix, pro novum maiestatis in. Nam verear facilisi menandri in, est cu duis malis
        omittantur.
    </p>
    <h2>Boka</h2>
    <p>
        Natum lucilius torquatos eam cu, dolor graece ex cum, cu legendos scripserit has.
        An tale complectitur sea. Semper oblique expetenda est no, ut posse pertinacia eam.
        Duo tota nullam convenire at, porro periculis persecuti ei mei, qui an prima utinam.
        Discere aliquid vix ad, nec causae laboramus ne, vidit feugiat per no.
    </p>
    <p>
        Natum lucilius torquatos eam cu, dolor graece ex cum, cu legendos scripserit has.
        An tale complectitur sea. Semper oblique expetenda est no, ut posse pertinacia eam.
        Duo tota nullam convenire at, porro periculis persecuti ei mei, qui an prima utinam.
        Discere aliquid vix ad, nec causae laboramus ne, vidit feugiat per no.
    </p>

</div>
