@{
    ViewBag.Title = "Studentliv";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Studentliv
</div>
<div class="leftcolumn">
    <h2>
        Studentlivet vid Örebro studentkår
    </h2>
    <p>
        Det finns ett härligt myller av studentliv vid Örebro studentkår och får förhoppning är att det
        ska finnas någonting för alla! Vi har en fantastisk introduktion för alla nya studenter,
        ett pulserande Kårhus, ett stort och rikt föreningsliv och en stor vilja att bedriva
        utbildningspolitik på alla olika nivåer.
    </p>
    <p>
        Är du intresserad av att engagera dig i studentlivet? Läs mer under ”Här kan du engagera dig”.
    </p>
    <p>
        Finns inte just det studentlivet eller en specifik aktivitet som du efterfrågar? Vi värnar om
        ett händelserikt studentliv och hjälper dig gärna komma igång med just din önskan. Exempel på
        projekt och mötesplatser som Örebro studentkår tidigare hjälpt till att starta upp är luncher
        för studerande föräldrar och bokcirklar.
    </p>
    <p>
        Vill du förverkliga din dröm om hur ett studentliv kan se ut? Kontakta då studiesocialt ansvarig 
        Isabella Samuelsson på studsoc@orebrostudentkar.se
    </p>

</div>
