@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Lösnummer";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Lösnummer
</div>
<div class="leftcolumn">
    <h1>Lösnummer</h1>
    <p>Text om lösnummer</p>
</div>
<div class="rightcolumn">
    <h1>Bilder från Lösnummer?</h1>
</div>