@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Engagera dig";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Engagera dig
</div>
<div class="leftcolumn">
    <h1>
        Engagera dig
    </h1>
    <p>För den som vill engagera sig i Örebro studentkår finns flera vägar att gå. Oavsett om du vill 
    påverka din utbildning, bidra till det studiesociala livet eller anordna fantastiska fester och sittningar
    finns det en plats för dig. Nedan hittar du områden där du kan engagera dig - är det något du undrar är du välkommen att
        <a href="~/Home/KontaktaOss">kontakta oss</a>.</p>
    <h3>Unisex</h3>
    <p>
        I Unisex får alla kårsektioners sexmästerier/festkommittéer/studiesociala utskott sitta med.
        Där möts vi kårsektionsöverskridande för att planera aktiviteter tillsammans och utbyta idéer
        sinsemellan. Exempel på aktiviteter som genomförts är sittningar, grillningar och biovisningar.
        Vill du vara en del av Unisex och planera tillställningar? Kontakta din kårsektions sexmästare/ansvarig
        för festkommitté!
    </p>
    
    <h3>Skyddsråd</h3>
    <p>
        Skyddsråd är en samlingspunkt för alla kårsektioners studerande skyddsombud. Här värnar vi om
        studiemiljön och diskuterar hur vi kan försöka påverka universitets studiemiljö så den blir
        ännu bättre. Exempel på vad som genomförts i skyddsrådet är skyddsronder för alla olika hus
        på universitetet, det vill säga en granskning så att studiemiljön i varje hus är av god kvalitet.
    </p>

    <h3>Introduktion</h3>
    <p>
        Varje terminsstart anordnar Örebro studentkår tillsammans med Örebro universitet en
        introduktion för alla nya studenter. För att denna ska vara möjlig finns det flera faddrar
        vilka fungerar som de nya studenternas mentorer under deras första tid. Som fadder introducerar
        du de nya studenterna till såväl den sociala som den akademiska delen av hur det är att studera
        vid Örebro universitet. Är du intresserad av att vara fadder för din kårsektion eller
        samarbetsföreningen ESN? Kontakta din general och håll ögonen öppna efter nästa Faddersläpp!
    </p>
    <h3>Föreningar</h3>
    <p>
        Det finns gott som samarbetsföreningar till Örebro studentkår. Dessa föreningar sysslar med
        allt mellan himmel och jord, vissa sysslar med sportaktiviteter, andra med politik medan de
        tredje är enbart sociala föreningar som anordnar aktiviteter. I en förening kan du engagera
        dig på ett flertal olika sätt, dels som medlem och delta på aktiviteterna, men också som
        styrelsemedlem och föra föreningens arbete framåt. För att se vilka föreningar som finns 
        <a href="~/Forening/Index">klicka här</a>. 
    </p>
    <h3>Lösnummer</h3>
    <p>
        Lösnummer är Örebrostudenternas tidning och en del av Örebro studentkår. Alla studenter som är
        intresserade av bild, att skriva, fotografera och illustrera kan söka sig till redaktionen.
        Tidningens uppdrag är att informera studenterna om studentlivet och granska Örebro studentkår
        och Örebro universitet. Lösnummers redaktion består av studenter från campus Örebro och campus
        Grythyttan. Lösnummer och redaktionen leds av chefredaktören. 
        Läs mer om studenttidningen på <a href="http://www.losnummer.se">www.losnummer.se</a>
    </p>
    <h3>Studentrepresentanter</h3>

    <p>
        Vill du föra studenternas talan i något du brinner för på universitetsnivå eller kanske marknadsföra Örebro
        studentkårs val? ÖS har flera hundra studentrepresentantplatser. Det är allt ifrån att sitta som representant i någon av
        Fakultetsnämnderna där du är med och säkrar  att våra utbildningar vid Örebro universitet håller den standard och kvalité
        vi som studenter är värda till att vara ÖS valnämnd där du tillsammans med ett gäng andra studenter genomför och administrerar
        ÖS val.
    </p>
        <img src="~/Content/Grafik/val.gif" />
    <p>
        Studenterna och doktoranderna har rätt att vara representerade i alla beredande och beslutande organ på universitetet
        i frågor som är av studenternas intressen. De som representerar och för studenternas och doktorandernas talan kallas
        studentrepresentanter. Vilka studentrepresentantpatser som finns hittar du i ÖS valordning (länk till valordning).
        Om du är studentrepresentant i någon av Fakultetsnämnderna eller i Lärarutbildningsnämnden sitter du också med i Fakultetsrådet
        som leds av ÖS vice ordförande. Kontakta ös viceordförande för mer information.
    </p>

    <h3>Fullmäktige</h3>
    <p>
        Ett sätt att engagera sig är att vara din kårsektions representant och röst i Örebro studentkårs högst beslutande organ, ÖS fullmäktige.

        I ÖS sitter totalt 41 ledamöter som är valda av kårsektionens medlemmar för att representera sin kårsektion,
        varje ledamot innehar ett mandat. Varje kårsektion har olika antal mandat i fullmäktige beroende på hur stor kårsektionen är.
        ÖS fullmäktige sammanträder fyra gånger per år och fattar riktningsbesluten för ÖS, så som verksamhetsplan, budget och dylikt.
        Läs mer om vad detta engagemang innebär <a href="~/Om/FUM">här.</a>
    </p>
    <h3>Din kårsektion</h3>
    <p>
        Som engagerad i din kårsektion finns det även flera råd som är gemensamma för kårsektionerna.

        Dessa råd är
    </p>
    <ul class="list">
        <li>
            Utbildningsbevakarrådet, där du som utbildningsbevakare regelbundet träffar andra utbildningsbevakare, vice ordöfrande
            för ÖS samt student- och doktorandombud, Ordförandeforum, där du som ordförande för en kårsektion regelbundet träffar
            de andra kårsektionernas ordförande samt ÖS ordförande,
        </li>

        <li>
            Kassörrådet, där du som kassör/ ekonomiansvarig i en kårsektion regelbundet träffar de andra kårsektionernas
            kassörer/ ekonomiansvariga samt ÖS ekonom.
        </li>
    </ul>
    <h3>Inget som passar just dig?</h3>
    <p>
        Finns det inget engagemang som du är intresserad av? Då kan vi hjälpa dig att starta upp det! Vänd dig till
        din <a href="~/Sektion/Index"> kårsektion</a> om du vill skapa ett utskott för studenterna inom kårsektionen. 
        Du kan också vända dig 
        studiesocialt ansvarig för att skapa en förening för just det som du är intresserad av. Projektstöd från studentlivskoordinatorn kan sökas.
    </p>
</div>
