@{
    ViewBag.Title = "Studentliv";
    ViewBag.SubTitle = "Lösnummer";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Lösnummer
</div>
<div class="leftcolumn">
    <h1>Lösnummer - Örebrostudenternas tidning</h1>
    <p>
        Lösnummer är en del av Örebro studentkår och tidningen för studenterna vid Örebro universitet. Lösnummer grundades
        1966 och har sedan dess varit Örebros största studenttidning.
    </p>
    <h3>Studenternas självklara nyhetskälla</h3>
    <p>
        Lösnummer är nyhetskällan för studenterna på campus Örebro och Grythyttan. Nyheterna finns att ta del av både i
        papperstidningen och på webben. Papperstidningen kommer ut åtta gånger per år, alltså fyra gånger per termin och på
        webben sker det löpande uppdateringar.
    </p>

    <h3>Ideellt arbetande eldsjälar</h3>
    <p>
        Lösnummer är en tidning för studenter och därför drivs den också av studenter. Förutom chefredaktören som är
        heltidsarvoderad inom studentkåren är det ideellt arbetande studenter som skriver, fotar, illustrerar, redigerar
        och utvecklar vår studenttidning. Är du intresserad av att jobba med Lösnummer så är du självklart varmt välkommen.
        Din utbildning har ingen betydelse, ju bredare ämnen redaktionen har desto mer av studentlivet finns att ta del av
        i tidningen. Allt du behöver är vilja. Redaktionen träffas en gång per vecka i studentkårens kanslikorridor.
    </p>
    <p>
        Varmt välkommen till Lösnummer, du som är läsare, blivande medarbetare, konkurrent, annonsör, kritiker eller hyllare.
    </p>
    <h3>Granskar sina uppdragsgivare</h3>
    <p>
        Lösnummer är en del av Örebro studentkår som är med och finansierar tidningens verksamhet. Samtidigt står det i Lösnummers
        redaktionella policy, ramar över vad som ska ingå i det redaktionella arbetet, att tidningen har i uppdrag att granska
        studentkåren och universitetet.
    </p>

    <h3>
    Bli en del av redaktionen</h3>
    <p>
        Vill du vara med i redaktionen, veta mer om Lösnummer eller tipsa om nyheter? Hör då av dig till Emmeli
        Flodqvist som är chefredaktör för Lösnummer.<br />
        E-post: <a href="mailto:redaktor@losnummer.se">redaktor@losnummer.se</a><br />
        Telefon: 070 – 939 99 25
    </p>
    <br />
    <br />
    <br />
    <a href="http://www.losnummer.se/">
        <img src="~/Images/Grafik/losnr.png" />
    </a>
        <hr />
        <!-- www.intagme.com -->
        <h2>@@losnummer på Instagram</h2>
        <iframe src="http://www.intagme.com/in/?u=bG9zbnVtbWVyfGlufDE0MHw0fDF8fHllc3w1fHVuZGVmaW5lZHx5ZXM="
                allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;
        width:620px; height: 155px"></iframe>
</div>
<div class="rightcolumn">
    <h2>losnummer_se på Twitter</h2>
    <a class="twitter-timeline" href="https://twitter.com/losnummer_se" data-widget-id="486063122080231424">Tweets av @@losnummer_se</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>


</div>