@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Grythyttan";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Grythyttan
</div>
<div class="importantinfo">
    <img class="center" src="~/Images/Sektioner/grythyttan.png" />
    <hr />
    @*<p><b>Sektionsfärg:</b> </p>
        <p><b>Sektionsrum: </b></p>
        <p><b>Sektionsrummets öppettider: </b></p>
        <p><b>Hemsida:</b>  </p>
        <p><b>Ämnen:</b> </p>*@
</div>
<div class="leftcolumn">
    <h1>Grythyttan</h1>
    <p>Kårsektionen i Grythyttan är under uppstart! Mer info kommer senare i höst.</p>
    <img src="~/Images/Sektioner/grythyttanfadder.jpg" />
</div>
<div class="importantrightcolumn">
    <img class="center" src="~/Images/Sektioner/grythyttan.png" />
    <hr />
    @*<p><b>Sektionsfärg:</b> </p>
        <p><b>Sektionsrum: </b></p>
        <p><b>Sektionsrummets öppettider: </b></p>
        <p><b>Hemsida:</b>  </p>
        <p><b>Ämnen:</b> </p>*@
</div>