@{
    ViewBag.Title = "Kårsektioner";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Kårsektioner
</div>
<div class="leftcolumn">
    <h2>Vad är en kårsektion?</h2>
    <p>
        Kårsektionerna är Örebro studentkårs organ på institutionerna. De har egna styrelser och deras huvuduppgift
        är att bedriva ÖS påverkansarbete gentemot institutionerna och institutionsledningarna. Kårsektionerna
        är de som befinner sig närmast studenterna och kan på så sätt snabbt och enkelt snappa upp de problem
        som finns vid Örebro universitet och bedriva ett arbete mot institutionerna för att förändra problemen.
        Utöver utbildningsbevakningen så genomför kårsektionerna bland annat introduktionen för de nya studenterna
        och aktiviteter för sina medlemmar under varje verksamhetsår. Kårsektionerna ansvarar också för att utse
        studentrepresentanter på institutionsnivå vid Örebro universitet i enlighet med ÖS valordning.
    </p>
    <p>
        ÖS har 9 stycken kårsektioner. Dessa är Corax, DokSek, GIH, Grythyttan, Musik, Sobra, Serum, Sesam, TekNat.
        Beroende på vilken utbildning du som student läser tillhör du en av de 9 kårsektionerna. Alla kårsektioner
        utom DokSek vänder sig till studenter på grund- och avancerad nivå. DokSek är en förkortning av
        Doktorandsektionen och är den kårsektion som du som doktorand tillhör. Tillsammans representerar de
        9 kårsektionerna alla studenter och doktorander på Örebro universitet.
    </p>
    <h2>Vilken kårsektion tillhör jag?</h2>
    <p>Det beror på vilket ämne du ska läsa, om du inte är doktorand - då hör du automatiskt till sektionen <a href="/Sektion/DokSek">DokSek</a>.
        Nedanstående guide är från <a href="http://oru.se/Utbildning/Blivande-student/Valkommen-ny-student/valkommen-ny-student/Sveriges-basta-introduktion/Sektionernas-program/">oru.se</a>
        och ger dig vägledning vilken kårsektion du tillhör. Är du osäker på vilken institution just ditt program/din kurs ingår i, 
        kika på kursinformationen på universitetets hemsida.</p>
    <p>
        Du tillhör kårsektionen <a href="/Sektion/Corax">Corax</a> om du studerar på institutionen för humaniora, 
		utbildning och samhällsvetenskap (HumUS) och läser något av följande program: Medier, kommunikation och PR, 
		Filmprogrammet, Förskollärarprogrammet, Global Journalistik, Grundlärarprogrammet, Magisterprogram i arbetslivsvetenskap, 
		Offentlig förvaltning och ledning, Personalvetarprogrammet, Retorikprogrammet - kommunikativt ledarskap, Ämneslärarprogram 
		eller följande kurser i Engelska, Historia, Kulturgeografi, litteraturvetenskap, medie och kommunikationsvetenskap, 
		pedagogik, Retorik, Samhällskunskap, Sociologi, Statskunskap och svenska språket. 

    </p>
    <p>
        Du tillhör kårsektionen <a href="/Sektion/GIH">GIH</a> om du studerar något under institutionen för hälsovetenskap och medicin
        (IHM) och läser till idrottslärare eller idrott och folkhälsovetenskap. Exempel på utbildningar
        som gör att du tillhör GIH är tränarprogrammet, idrottslärare eller Management in Sport and Recreation.
    </p>
    <p>
        Du tillhör kårsektionen <a href="/Sektion/Grythyttan">Grythyttan</a> om du läser någonting under institutionen för Restaurang- och hotellhögskolan
        (RHS) det vill säga utbildningarna hotell och värdskap, kulinarisk kock och måltidskreatör eller sommelier
        och måltidskreatör.
    </p>
    <p>
        Du tillhör kårsektionen <a href="/Sektion/Musik">Musik</a> om du läser något ämne under Musikhögskolan. Utbildningar som ligger under 
        Musikhögskolan är kompositör, musiker, musiklärare, musikproducent eller teaterpedagog.
    </p>
    <p>
        Du tillhör kårsektionen <a href="/Sektion/Serum">Serum</a> om du studerar under institutionen för läkarutbildning (ILU) eller
        exempelvis något av följande ämnen under institutionen för hälsovetenskap och medicin (IHM):
        medicin, omvårdnadsvetenskap, hörselvetenskap, arbetsterapi, biomedicin.
    </p>
    <p>
        Du tillhör kårsektionen <a href="/Sektion/Sesam">Sesam</a> om du studerar på Handelshögskolan vid Örebro universitet. Exempel på
        ämnen på Handelshögskolan är företagsekonomi, nationalekonomi, statistik, informatik.
    </p>
    <p>
        Du tillhör kårsektionen <a href="/Sektion/Sobra">Sobra</a> om du studerar på institutionen för juridik, psykologi och socialt arbetet 
        (JPS). Exempel på ämnen under JPS-institutionen är socionomprogrammet, psykologi och rättsvetenskap.
    </p>
    <p>
        Du tillhör kårsektionen <a href="/Sektion/TekNat">TekNat</a> om du studerar på institutionen för naturvetenskap och teknik (NT).
        Exempel på ämnen under NT-institutionen är ingenjörsprogram, teknik/ekonomi, miljövetenskap, kemi, fysik etc.
    </p>
</div>
<div class="rightcolumn">
    <a href="~/Sektion/Corax">
        <img src="~/Images/Sektioner/corax.png" />
    </a>
    <hr />
    <a href="~/Sektion/DokSek">
        <img src="~/Images/Sektioner/doksek.png" />
    </a>
    <hr />
    <a href="~/Sektion/GIH">
        <img src="~/Images/Sektioner/gih.png" />
    </a>
    <hr />
    <a href="~/Sektion/Grythyttan">
        <img src="~/Images/Sektioner/grythyttan.png" />
    </a>
    <hr />
    <a href="~/Sektion/Musik">
        <img src="~/Images/Sektioner/musik.png" />
    </a>
    <hr />
    <a href="~/Sektion/Serum">
        <img src="~/Images/Sektioner/serum.png" />
    </a>
    <hr />
    <a href="~/Sektion/Sesam">
        <img src="~/Images/Sektioner/sesam.png" />
    </a>
    <hr />
    <a href="~/Sektion/Sobra">
        <img src="~/Images/Sektioner/sobra.png" />
    </a>
    <hr />
    <a href="~/Sektion/Teknat">
        <img src="~/Images/Sektioner/teknat.png" />
    </a>
</div>