@{
    ViewBag.Title = "Kårsektioner";
    ViewBag.SubTitle = "Serum";
    ViewBag.Type = "Sektion";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > <a href="~/Sektion/Index">Kårsektioner</a> > Serum
</div>
<div class="importantinfo">
    <img class="center" src="~/Images/Sektioner/serum.png" />
    <hr />
    <p><b>Sektionsfärg:</b> <span style="color:	#FFCC00">gul</span></p>
    <p><b>Sektionsrum: </b>P1130 (Till höger i prisma entrén)</p>
    <p><b>Sektionsrummets öppettider: </b>Tisdagar, onsdagar och torsdagar kl. 12:00 - 13:00</p>
    <p><b>Hemsida:</b> <a href="http://www.serumsektionen.se/">www.serumsektionen.se</a></p>
    <p>
        <b>Ämnen:</b> Arbetsterapi,  Biomedicinsk laboratorievetenskap, Folkhälsovetenskap, Handikappvetenskap, Hälso och sjukvårdsadministration,
        Hörselvetenskap, Medicin, Sjukgymnastik, Vårdkommunikation och Vårdvetenskap
    </p>
</div>

<div class="leftcolumn">
    <h1>Serum</h1>
    <p>
        Serum är sektionen för dig som studerar audionom, arbetsterapeut, biomedicinsk analytiker,
        biomedinska programmet, sjuksköterska, röntgensjuksköterska och läkare. Våra program
        håller till största delen till i Prismahuset och Bilbergska huset på campus Örebro Universitet
        och även i X-huset som ligger intill Universitetssjukhuset i Örebro (USÖ).
    </p>
    <img src="~/Images/Sektioner/serumfadder.jpg" />
    <p>
        Serum är styrt av medlemmarna, och medlemmarna väljer varje år en styrelse som ska sköta det operativa
        ansvaret för sektionen. Sektionsstyrelsen består i dagsläget av nio poster med olika ansvarsområden.
        Arbetet är ideellt och görs med enbart engagemang för studenternas bästa som drivkraft! Vem som
        helst som är medlem kan (och är varmt välkommen att) söka en post i styrelsen inför årsmötet
        då valen sker.
    </p>
    <p>
        Sektionen är en del av modersorganisationen Örebro Studentkår, och har precis som de andra sektionerna på
        universitetet en representant i Örebro Studentkårs styrelse. Därför har vi stora möjligheter att
        påverka vår studiemiljö både inom våra program och på universitetet som helhet.
    </p>
    <h4>
        ...och kom ihåg: sprid kärlek, inte smitta.
    </h4>

</div>
<div class="importantrightcolumn">
    <img class="center" src="~/Images/Sektioner/serum.png" />
    <hr />
    <p><b>Sektionsfärg:</b> <span style="color:	#FFCC00">gul</span></p>
    <p><b>Sektionsrum: </b>P1130 (Till höger i prisma entrén)</p>
    <p><b>Sektionsrummets öppettider: </b>Tisdagar, onsdagar och torsdagar kl. 12:00 - 13:00</p>
    <p><b>Hemsida:</b> <a href="http://www.serumsektionen.se/">www.serumsektionen.se</a></p>
    <p>
        <b>Ämnen:</b> Arbetsterapi,  Biomedicinsk laboratorievetenskap, Folkhälsovetenskap, Handikappvetenskap, Hälso och sjukvårdsadministration,
        Hörselvetenskap, Medicin, Sjukgymnastik, Vårdkommunikation och Vårdvetenskap
    </p>
</div>
