@{
    ViewBag.Title = "Om oss";
    ViewBag.SubTitle = "FUM";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Fullmäktige
</div>
<div class="leftcolumn">
    <h1>
        Fullmäktige
    </h1>
    <p>
        ÖS fullmäktige är ÖS högst beslutande organ. Här sitter totalt 41 ledamöter som är valda av
        kårsektionens medlemmar för att representera sin kårsektion, varje ledamot innehar ett mandat.
        Varje kårsektion har olika antal mandat i fullmäktige beroende på hur många studenter
        kårsektionen representerar totalt samt hur stor procentull medlemsanslutning kårsektionen har.
        ÖS fullmäktige sammanträder fyra gånger per år och fattar riktningsbesluten för ÖS, så som
        verksamhetsplan, budget, åsiktsdokument samt väljer ÖS presidialer (ordförande och vice ordförande),
        Lösnummers chefredaktör och biträdande redaktör.
    </p>
    <h3>ÖS Fullmäktiges roll</h3>
    <p>
        Fullmäktiges uppgift är att vara Örebro studentkårs högsta beslutande organ. Någon högre instans än
        ÖS Fullmäktige finns inte. Dock kan beslut som rör ÖS stadga 1.2 och 1.3 överklagas till
        Universitetsstyrelsen. Under ÖS Fullmäktiges möten har samtliga medlemmar i ÖS närvarorätt.
        Medlemmar som motionerar och/eller interpellerar till ett Fullmäktigemöte, samt ÖS revisorer
        har närvaro- och yttranderätt. Förslagsrätt tillkommer även motionär vid behandlande av dennes motion/er.
        Förslags- och rösträtt tillkommer endast Fullmäktigeledamot eller dennes suppleant. Kårstyrelsen
        närvarar under ÖS Fullmäktiges möten med yttranderätt men har inte rösträtt. En enad kårstyrelse
        har dock yrkande/förslagsrätt.
    </p>
    <p>
        ÖS Fullmäktige ska senast 30 april:
    </p>
    <ul class="list">
        <li>genomföra val till presidium</li>
        <li>
            fastställa arbetsordning för ÖS Fullmäktige för kommande verksamhetsår,
        </li>
        <li>
            genomföra de i valordningen fastställda valen,
        </li>
        <li>
            anta budget för ÖS,
        </li>
        <li>
            fastställa terminsavgifter samt stödmedlemsavgift för det kommande verksamhetsåret,
        </li>
        <li>
            fastställa kriterier för ordinarie medlemskap i sektion för det kommande verksamhetsåret,
        </li>
        <li>
            genomföra val till ny valnämnd,
        </li>
        <li>
            fastställa verksamhetsplan för ÖS,
        </li>
        <li>
            året innan beslut om kårstatus tas revidera ÖS Visionsdokument samt ÖS Åsiktsdokument
        </li>
    </ul>
    <p>ÖS Fullmäktige ska senast 30 november</p>
    <ul class="list">
        <li>
            granska verksamhetsberättelse från kårstyrelse för föregående verksamhetsår,
        </li>
        <li>
            fastställa ÖS balans- och resultaträkning för föregående verksamhetsår,
        </li>
        <li>
            utifrån verksamhetsberättelse och ekonomisk årsberättelse pröva frågan om ansvarsfrihet för avgående kårstyrelse,
        </li>
        <li>
            godkänna verksamhetsberättelse för Lösnummer för föregående verksamhetsår,
        </li>
        <li>
            fastställa balans- och resultaträkning för Lösnummer för föregående verksamhetsår,
        </li>
        <li>
            utifrån verksamhetsberättelse och ekonomisk årsberättelse pröva frågan om ansvarsfrihet för avgående Lösnummers styrelse,
        </li>
        <li>
            fastställa valordning för val av ÖS Fullmäktiges förtroendeposter, enligt vad som anges i 5:6,
        </li>
        <li>
            besluta om nödvändiga förutsättningar för ÖS heltidsarvoderade för kommande verksamhetsår.
        </li>
</ul>
    <p>ÖS Fullmäktige ska årligen</p>
    <ul class="list">
        <li>behandla riktlinjer för ÖS samarbete med Kårhusföreningen,</li>
        <li>fastställa direktiv för ÖS representanter i Kårhusföreningen,</li>
        <li>pröva ÖS medlemskap i annan organisation enligt tid som anpassas till denna organisations verksamhet,</li>
        <li>besluta om Örebro studentkårs Förtjänsttecken.</li>
    </ul>
    <h3>Handlingar till ÖS Fullmäktige</h3>
    <p>
        ÖS styrelse förbereder punkterna till ÖS Fullmäktige. Punkter kan se ut på tre olika sätt,
        proposition från ÖS styrelse, motion från ÖS medlem eller interpellation mot ÖS förtroendevald eller organ inom ÖS.
    </p>
    <h3>Val av fullmäktigeledamöter</h3>
    <p>
        Fullmäktigeledamöterna röstas fram av sin kårsektions medlemmar i ett val som hålls under vårterminen
        (vanligast är att valet sker i mars- april). De personer som väljs på våren sitter i fullmäktige under
        kommande verksamhetsår. För at bli vald till fullmäktigeledamot måste personen vara medlem i Örebro
        studentkår och tillhöra den kårsektion som personen ska representera i Fullmäktige. Fullmäktigeledamot
        kan också väljas av sin sektions sektionsmöte, alternativt vald suppleant, för att få rösta i ÖS Fullmäktige.
    </p>
    <p>
        Protokollsutdrag med beslut om fullmäktigeledamöter och suppleanter ska lämnas in till ÖS Presidie snarast
        efter val. Sker byte eller fyllnadsval ska detta tillsammans med protokollsutdrag lämnas till ÖS Presidie
        senast en (1) vecka före Fullmäktigemötet.
    </p>
    <h3>Fullmäktigeledamotens ansvar</h3>
    <p>
        Som fullmäktigeledamot för en kårsektion är du vald att representera kårsektionens åsikter. Du
        sitter alltså på kårsektionens mandat och inte på personligt mandat i Fullmäktige. För att
        ledamoten ska veta vad kårsektionen tycker är det viktigt att varje ledamot förbered sig tillsammans
        med sin kårsektion inför varje fullmäktigesammanträde. Det kan göras genom att till exempel hålla ett
        sektionsmöte inför Fullmäktige där handlingarna till mötet diskuteras. Alla ledamöter för varje kårsektion
        ska självklart också prata ihop sig med varandra så att de är enade inför fullmäktigesammanträdet.
        Då kan fullmäktigeledamöterna för en kårsektion också förbereda exempelvis yrkanden till sammanträdet
        så att mötet flyter på så smidigt som möjligt.
    </p>

</div>
<div class="rightcolumn">
    <h2>
        Planerade möten verksamhetsåret 2014/2015
    </h2>
    <ul class="list">
        <li>21 oktober</li>
        <li>16 december</li>
        <li>17 februari</li>
        <li>28-19 april</li>
    </ul>
    <p>Vill du vara med och påverka FUM? Kontakta 
    din <a href="~/Sektion/Index">kårsektion.</a></p>
    <h2>
        Ordlista
    </h2>
    <dl>
        <dt>Proposition</dt>
        <dd>
            En proposition är ett förslag från ÖS styrelse som ÖS Fullmäktige ska besluta om.
            Propositionerna skickas ut till ÖS Fullmäktige ledamöter fyrtio (40) dagar innan ÖS Fullmäktige sammanträder.
        </dd>
        <dt>Motion</dt>
        <dd>
            En motion är ett förslag till en förändring. Motionen kan beröra vad som helst som någon medlem vill att
            ÖS Fullmäktige ska besluta om och även vara en följdmotion på en av styrelsens tidigare utskickade
            propositioner. Varje medlem av ÖS har rätt att motionera. Motionsstopp infaller tjugo (20)
            dagar innan mötet. ÖS styrelse skriver ett motionssvar där styrelsens syn på motionen
            ges samt förslag på hur ÖS Fullmäktige ska besluta.
        </dd>
        <dt>Interpellation</dt>
        <dd>
            Interpellation är skriftlig fråga från medlem i eller organ inom ÖS till av
            Fullmäktige vald styrelse, till av ÖS förtroendevalda, eller till övrigt organ inom ÖS.
            Interpellation ska vara ÖS styrelse tillhanda senast tio (10) dagar före Fullmäktigemöte.
            ÖS styrelse ska delge berörd person eller organ interpellationen senast åtta (8) dagar före
            Fullmäktigemöte. ÖS styrelse finns behjälpliga om det behövs.
        </dd>
    </dl>
    <p>Vill du veta mer om Fullmäktige? Kontakta vice ordförande på <a href="mailto:vice@orebrostudentkar.se">vice@orebrostudentkar.se</a>.</p>
</div>
