@{
    ViewBag.Title = "Om oss";
}

<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Om oss
</div>
<div class="leftcolumn">
    <h1>
        Om Örebro Studentkår
    </h1>
    <p>
        Örebro studentkår företräder dig som student och doktorand vid Örebro universitet.
        Hit kan du vända dig om du har frågor och funderingar kring din studiesituation,
        studentlivet eller problem med din utbildning. Örebro studentkår är en partipolitiskt,
        fackligt och religiöst obunden organisation som driver studenternas intressen i rad
        olika frågor. Örebro studentkår vill trygga din utbildning, din hälsa och se
        till att du har en riktigt bra studietid.
    </p>
    <div class="backdrop"></div>    
    <div class="box">
        <div class="close">x</div>
        <p id="boxtext"></p>
    </div>

    <img id="orgkarta" src="~/Content/Grafik/organisationskarta.png" width="1050" height="721" alt="organisationskarta" usemap="#organisationskarta">

    <map name="organisationskarta">
        <area shape="rect" id="imgmapStudentrepr" coords="154,234,357,264" alt="h" href="#">
        <area shape="rect" id="imgmapFum" coords="400,210,559,285" alt="h" href="#">
        <area shape="rect" id="imgmapKS" coords="375,328,584,425" alt="h" href="#">
        <area shape="rect" id="imgmapRad" coords="180,338,335,415" alt="h" href="#">
        <area shape="rect" id="imgmapProjekt" coords="247,477,375,537" alt="h" href="#">
        <area shape="rect" id="imgmapArvoderade" coords="420,477,545,540" alt="h" href="#">
        <area shape="rect" id="imgmapTjansteman" coords="583,480,717,536" alt="h" href="#">
        <area shape="rect" id="imgmapSektioner" coords="620,320,790,433" alt="h" href="#">
        <area shape="rect" id="imgmapLosnummer" coords="740,470,935,680" alt="h" href="#">
        @*<area shape="rect" id="imgmapStudenter" coords="400,75,562,110" alt="h" href="#">*@
    </map>
    <h2>Vill du veta mer? Läs våra styrdokument!</h2>
    <p>
        <a href="~/Content/Styrdokument/Asiktsdokument.pdf">
            <img src="~/Content/Grafik/pdficon.png" />Åsiktsdokument
        </a><br />
        ÖS Fullmäktige beslutar vart annat år om ÖS åsiktsdokument. Åsiktsdokumentet förklarar vad ÖS tycker i 
        olika frågor både lokalt och nationellt. 
    </p>
    <p>
        <a href="~/Content/Styrdokument/Visionsdokument.pdf">
            <img src="~/Content/Grafik/pdficon.png" />Visionsdokument
        </a><br />
        ÖS Fullmäktige beslutar vart tredje år om ÖS vision. Visionen tas i samband med att ÖS söker 
        kårstatus hos Örebro universitet. ÖS vision beskriver enkelt vilka mål ÖS arbete ska sträva mot. 
    </p>
    </div>



<script src="~/Scripts/mylightbox.js"></script>