@{
    ViewBag.Title = "Om oss";
}

<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Om oss
</div>
<div class="leftcolumn">
    <h1>
        Om Örebro Studentkår
    </h1>
    <p>
        Örebro studentkår företräder dig som student och doktorand vid Örebro universitet.
        Hit kan du vända dig om du har frågor och funderingar kring din studiesituation,
        studentlivet eller problem med din utbildning. Örebro studentkår är en partipolitiskt,
        fackligt och religiöst obunden organisation som driver studenternas intressen i rad
        olika frågor. Örebro studentkår vill trygga din utbildning, din hälsa och se
        till att du har en riktigt bra studietid.
    </p>
    <div class="backdrop"></div>    
    <div class="box">
        <div class="close">x</div>
        <p id="boxtext"></p>
    </div>

    <img id="orgkarta" src="~/Content/Grafik/organisationskarta.gif" width="1050" height="721" alt="organisationskarta" usemap="#organisationskarta">

    <map name="organisationskarta">
        <area shape="rect" id="imgmapStudentrepr" coords="154,234,357,264" alt="h" href="#">
        <area shape="rect" id="imgmapFum" coords="400,210,559,285" alt="h" href="#">
        <area shape="rect" id="imgmapKS" coords="375,328,584,425" alt="h" href="#">
    </map>

    <h1>Ska dessa finnas med eller ska vi ha länkar till dokumenten istället? </h1>
    <h2>Vi tycker att:</h2>
    <p>
        Studenten ska stå i centrum för utbildningen. Med det menar vi att utbildningen
        ska utgå från studenten och hen ska vara delaktig i dess utformning. Den ska
        också bidra till studentens bildning samt både individuell och yrkesmässig
        utveckling. Syftet med utbildningen är att förbereda studenten på arbetslivet
        och ska därmed ha praktiska inslag, för att gynna en ständig koppling
        mellan student, universitet och arbetsliv.
    </p>
    <p>
        Örebro ska vara en levande studentstad med en tydlig koppling till universitetet
        och studenterna, som ska vara en naturlig och betydande del av stadens identitet.
        Det är därför viktigt att Örebro som stad beaktar studenternas intressen i alla
        frågor som rör stadens utveckling. Örebro ska vara en öppen och tillgänglig stad för
        studenter, där man är medveten om vad studenterna kan bidra med till Örebro som stad.
    </p>
    <p>
        Studenten ska känna sig trygg under sin studietid. Flera olika aspekter spelar en
        betydande roll för studenternas välmående och trygghet. Vi
        tycker att alla studenter har rätt till en egen bostad som är anpassad efter
        studentens behov. Vi arbetar aktivt, både lokalt och nationellt, med att
        fler studentbostäder ska byggas som studenter faktiskt har råd att bo i.
        Som student är det också viktigt att du får hjälp vid både fysisk och
        psykisk ohälsa genom ett välfungerande trygghetssystem. Trygghet under
        studietiden speglas också i att studenternas rättigheter och skyldigheter
        upprätthålls på ett korrekt sätt i alla led. Örebro studentkår arbetar
        därför ständigt med påverkansarbete för att din utbildning ska genomsyras
        av rättssäkerhet.
    </p>
    <h2>Vår vision</h2>
    <dl>
        <dt>
    Sveriges bästa studentorganisation
        </dt>
        <dd>
            Örebro studentkår ska vara Sveriges bästa studentorganisation som ständigt 
            sätter sina medlemars intressen i fokus och arbetar för att ge studenterna 
            en bättre studietid. Organisationen ska arbeta gemensamt för att förbättra 
            sig själv och sina medlemmars situation. Örebro studentkår ska präglas av 
            glädje, lust att ifrågasätta, vilja att utvecklas och är en jämlik 
            organisation öppen för alla!
        </dd>
        <dt>Den politiska visionen: Studenternas opinionsbildare</dt>
        <dd>
            Örebro studentkår ska arbeta utifrån sina åsikter med ett aktivt opinionsbildande
            för att främja sina medlemmars intressen. Som opinionsbildare ska Örebro studentkår
            skapa debatt och vara den drivande parten på såväl regional nivå som inom nationella
            samarbeten. Örebro studentkår ska vara den naturliga organisationen att vända sig
            till för de som söker åsikter eller kunskaper om studenters situation. För media,
            politiker, opinionsbildare och andra organisationer ska Örebro studentkår ses
            som den självklara studentrösten.
        </dd>
        <dt>
            Den organisatoriska visionen:
            Den tillgängliga organisationen
        </dt>
        <dd>
            Örebro studentkår är en organisation som ska präglas av tydlighet och öppenhet.
            Medlemmar, andra studenter, medarbetare, universitet och regionala aktörer ska veta
            vad Örebro studentkår står för. Som aktiv och medarbetare i Örebro studentkår ska
            tillgängligheten kännetecknas av att alla vet vem som gör vad och hur våra gemensamma
            strukturer är uppbyggda. Som medlem i Örebro studentkår ska du känna delaktighet i
            organisationen och veta att din röst blir hörd. Rätten att påverka ska vara en självklarhet.
        </dd>
    </dl>
    <h2>I praktiken</h2>
    <p>
        Vi jobbar mot vår vision genom att... 
    </p>
</div>
<div class="rightcolumn">
    <h3></h3>
</div>

<script src="~/Scripts/mylightbox.js"></script>