@{
    ViewBag.Title = "Om oss";
    ViewBag.SubTitle = "Kårstyrelsen";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Kårstyrelsen
</div>
<div class="leftcolumn">
    <h2>
        Kårstyrelsen
    </h2>
    <p>
        Direkt underställd ÖS Fullmäktige är kårstyrelsen, som är ÖS verkställande organ. Kårstyrelsen består 
        av ÖS Ordförande, ÖS Vice ordförande samt nio ledamöter (ordförande eller vice ordförande från varje 
        kårsektion). Kårstyrelsens arbete är att verkställa de beslut om ÖS Fullmäktige fattat och att leda 
        organisationen. Det är kårstyrelsen som sköter påverkansarbetet mot ledningen på universitetet samt 
        kommun och näringsliv i alla frågor som berör ÖS verksamhet. ÖS Ordförande och ÖS Vice ordförande är 
        heltidsarvoderade under ett år. 
    </p>
</div>
<div class="rightcolumn">
    <h2>
        Kårstyrelsen för verksamhetsåret 2014 - 2015 är: 
    </h2>
    <p>
        <b>Ordförande</b> <br />
        Kristine Arnhällen 0709 399923 <br />
        ordf@orebrostudentkar.se
    </p>
    <p>
        <b>Vice ordförande</b> <br />
        Maria Backsell 0709 399926 <br />
        vice@orebrostudentkar.se
    </p>
    <p>
        <b>Ledamot Serum</b> <br />
        Caroline Lagerblad <br />
        ksledamot1@orebrostudentkar.se
    </p>
    <p>
        <b>Ledamot Sobra</b> <br />
        Ellen Forsberg <br />
        ksledamot2@orebrostudentkar.se
    </p>
    <p>
        <b>Ledamot Corax</b> <br />
        Marcus Alvstrand <br />
        ksledamot3@orebrostudentkar.se
    </p>
    <p>
        <b>Ledamot TekNat</b> <br />
        Caroline Nilsson <br />
        ksledamot4@orebrostudentkar.se
    </p>
    <p>
        <b>Ledamot Sesam</b> <br />
        Julia Lorin <br />
        ksledamot5@orebrostudentkar.se
    </p>
    <p>
        <b>Ledamot Musik</b> <br />
        Matilda Lundström <br />
        ksledamot7@orebrostudentkar.se
    </p>
    <p>
        <b>Ledamot Grythyttan</b> <br />
        Markus Davidsson <br />
        ksledamot8@orebrostudentkar.se
    </p>
    <p>
        <b>Ledamot GIH</b> <br />
        Eric Carlsson <br />
        ksledamot9@orebrostudentkar.se
    </p>
</div>
