@{
    ViewBag.Title = "Om oss";
    ViewBag.SubTitle = "Roller";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Tjänstemän och arvoderade
</div>
<div class="leftcolumn">
    <h1>Tjänstemän och arvoderade</h1>
    <h2>Arvoderade</h2>
    <p>
        Inom Örebro studentkår finns det flera arvoderade tjänster, både på heltid och deltid.
        Att en person är arvoderad innebär att personen får en fast ersättning
        för att utföra sitt uppdrag. På ÖS ska de arvoderade arbeta 40 timmar per vecka vid heltidsuppdrag. De arvoderade är följande:
    </p>
    <h4>
        ÖS Ordförande
    </h4>
    <p>
        ÖS Ordförande har ansvaret för Örebro studentkårs övergripande verksamhet. Ordförande sköter den
        huvudsakliga kontakten med externa aktörer som kommunen, näringslivet, andra studentkårer och universitetsledningen.
    </p>
    <h4>
        ÖS Vice ordförande
    </h4>
    <p>
        Ös Vice ordförande har huvudansvar för den interna organisationen. Vice har ansvar för kontakten med ÖS fullmäktige,
        kårsektioner och studentrepresentanter. Vice har också ett övergripande ansvar för bevakningen av kvalitets- och
        rättssäkerhetsfrågor gällande utbildningen på Örebro universitet. Vice hanterar arbetsgivarfrågor och organiseringen
        av studentrepresentanter.
    </p>
    <h4>
        ÖS Studiesocialt ansvarige
    </h4>
    <p>
        ÖS Studiesocialt ansvarige ansvarar för trygghetsfrågor som rör alla studenter, så som bostads- och trygghetsfrågor.
        ÖS studiesocialt ansvarige har också hand om introduktionen på höst- och vårterminen samt kontakten med alla ÖS samarbetsföreningar.
    </p>
    <h4>
        Chefredaktör för Lösnummer
    </h4>
    <p>
        Lösnummer leds av en chefredaktör som är heltidsarvoderad under två år. Chefredaktören är ansvarig utgivare för tidningen
        Lösnummer och ansvarar för att tidningen produceras och utkommer i tid. Chefredaktören väljs av ÖS fullmäktige.
    </p>
    <h4>
        Biträdande redaktör för Lösnummer
    </h4>
    <p>
        Lösnummers biträdande redaktör ska bistå chefredaktören i att producera tidningen Lösnummer. I chefredaktörens
        frånvaro är biträdande redaktör ansvarig för tidningen. Biträdande redaktören är deltidsarvoderad och väljs av ÖS fullmäktige årligen.
    </p>
    <h4>Kanslister</h4>
    <p>
        I ÖS kansli arbetar två kanslister på 25 % av heltid vardera. Kanslisterna arvoderas terminsvis och väljs av ÖS kårstyrelse.
    </p>
    <h4>Projektarvoderade</h4>
    <p>
        ÖS bedriver olika projekt under ett verksamhetsårs gång. Återkommande varje verksamhetsår är ÖS Akutboende som i
        början av varje termin hjälper studenter utan bostad att hitta ett temporärt boende tills de har hittat en permanent bostad.
        Akutboendet leds av Ös studiesocialt ansvariga tillsammans med två projektledare vilka är arvoderade på deltid under tiden för projektet.
    </p>
    <h2>Tjänstemän</h2>
    <p>
        På ÖS centralt arbetar tre tjänstemän, en informatör och ett student- och
        doktorandombud (kallas kort studentombudet) på heltid samt en ekonom på 50 %.
    </p>
    <h4>
        Informatör
    </h4>
    <p>
        Informatören ansvarar för det marknadsföringsmaterial som ÖS använder sig av. Informatören har även ett stort ansvar i att
        producera texter, korrekturläsa
        de texter kårstyrelsen producerar m.m. All form av material som gör att ÖS syns utåt har informatören ett finger i.
    </p>
    <h4>
        Student- och doktorandombud
    </h4>
    <p>
        Studentombudet arbetar med det som kallas fallärenden. Till studentombudet kommer studenter som upplever problem i sin
        utbildning. Det kan vara allt ifrån att tentamensresultatet kommer för sent till att studenten känner sig diskriminerad.
        Studentombudets arbetsuppgift är att utreda dessa ärenden, och i de flesta fall löser studentombudet ärendena själv
        genom kontakt med universitetet, medan andra ärenden är av sådan karaktär att kårstyrelsen måste gå in och agera.
    </p>
    <h4>
        Ekonom
    </h4>
    <p>
        Ekonomen sköter ÖS bokföring, fakturering, betalningar med mera. Ekonomen hjälper även kårstyrelsen att göra
        budget samt ger löpande uppdatering till kårstyrelsen om hur ÖS ligger till ekonomiskt mot budgeten.
    </p>
</div>
<div class="rightcolumn">
    <h2>Vill du kontakta någon av dessa? All info hittar du på <a href="/Home/KontaktaOss">vår kontaktsida.</a></h2>
</div>