@{
    ViewBag.Title = "Om oss";
    ViewBag.SubTitle = "Studentrepresentanter";
}

<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Studentrepresentanter
</div>
<div class="leftcolumn">
    <h2>Studentrepresentanter 2014/2015</h2>
    <table>
        <thead>
            <tr>
                <td>
                    <b>Råd</b>
                </td>
                <td>
                    <b>Platser</b>
                </td>
                <td>
                    <b>Representant</b>
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                Universitetsstyrelsen
            </td>
            <td>
                2 representanter, varav 1 doktorand
            </td>
            <td>
                Louise Hammar <br />
                Henrik Leandersson (student på doktorandplats)
            </td>
        </tr>
        <tr>
            <td>
                Disciplinnämnden
            </td>
            <td>
                2 representanter, 2 suppleanter
            </td>
            <td>
                Fanny Lyrfors<br />
                Henrik Persson <br />
                David Florin (suppleant) <br />
                Robin Henningson (suppleant) <br />
            </td>
        </tr>
        <tr>
            <td>
                Skyddskommitén 
            </td>
            <td>
                1 representant, 2 suppleanter
            </td>
            <td>
                David Florin
            </td>
        </tr>
        <tr>
            <td>
                Universitetspedagogiskt råd
            </td>
            <td>
                1 representant
            </td>
            <td>
                Margarita Trinny Rocha
            </td>
        </tr>
        <tr>
            <td>
                Akademiska Årshögtiden 
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Jämlikhetsrådet
            </td>
            <td>
                2 representanter, varav 1 doktorand
            </td>
            <td>
                Ellinor Holmberg <br />
                Amanda Engström (student på doktorandplats)
            </td>
        </tr>
        <tr>
            <td>
                Alumn- och karriärrådet
            </td>
            <td>
                1 representant
            </td>
            <td>
                Sara Carlbom
            </td>
        </tr>
        <tr>
            <td>
                Biblioteksrådet
            </td>
            <td>
                2 representanter
            </td>
            <td>
                <em>Vakant</em>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Fakultetsnämnden HS
            </td>
            <td>
                2 representanter, varav 1 doktorand
            </td>
            <td>
                Fanny Lyrfors <br />
                Miriam von Schantz (doktorand)

            </td>
        </tr>
        <tr>
            <td>
                Fakultetsnämnden MH
            </td>
            <td>
                2 representanter, varav 1 doktorand
            </td>
            <td>
                Erik Andersson <br />
                Isak Nordin (student på doktorandplats)

            </td>
        </tr>
        <tr>
            <td>
                Fakultetsnämnden ENT
            </td>
            <td>
                2 representanter, varav 1 doktorand
            </td>
            <td>
                Johan Borre <br />
                <em>Vakant doktorand</em>
            </td>
        </tr>
        <tr>
            <td>
                Lärarutbildningsnämnden LUN
            </td>
            <td>
                2 representanter
            </td>
            <td>
                Carin Fröjd <br />
                Sebastian Piepenburg
            </td>
        </tr>
        <tr>
            <td>
                Anställningsutskott ENT
            </td>
            <td>
                2 representanter, 2 suppleanter
            </td>
            <td>
               <em>Vakant</em><br />
               <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Anställningsutskott HS
            </td>
            <td>
                2 representanter, 2 suppleanter
            </td>
            <td>
               David Florin <br />
               Simon Holmström
            </td>
        </tr>
        <tr>
            <td>
                Anställningsutskott MH
            </td>
            <td>
                2 representanter, 2 suppleanter
            </td>
            <td>
                <em>Vakant</em><br />
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Docenturnämnd HS och E(NT)
            </td>
            <td>
                1 representant, 1 suppleant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Docenturnämnd MH och E(NT)
            </td>
            <td>
                1 representant, 1 suppleant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Utbildningsutskott kopplat till LUN
            </td>
            <td>
                1 representant, 1 suppleant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Verksamhetsförlagd utbildningsgruppen LUN
            </td>
            <td>
                1 representant, 1 suppleant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Programråd LUN
            </td>
            <td>
                3 representanter (1 per program)
            </td>
            <td>
                <em>Vakant</em> <br />
                <em>Vakant</em> <br />
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Styrgruppen för Linje 14
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Drivhusets styrelse
            </td>
            <td>
                1 representant
            </td>
            <td>
                Kristine Arnhällen
            </td>
        </tr>
        <tr>
            <td>
                Campushälsans styrgrupp
            </td>
            <td>
                1 representant, 1 suppleant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Miljö, arbetsmiljö & säkerhet (MAS)
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                Henrik Borgs minnesfond
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                ÖS Ekonomiska revisor
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                ÖS verksamhetsrevisor
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                ÖS vice verksamhetsrevisor
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                ÖS Fullmäktiges mötesordförande
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                ÖS Fullmäktiges mötessekreterare
            </td>
            <td>
                1 representant
            </td>
            <td>
                <em>Vakant</em>
            </td>
        </tr>
        <tr>
            <td>
                ÖS Valnämnd
            </td>
            <td>
                2-5 representanter
            </td>
            <td>
                Louise Hammar <br />
                Elin Dankvardt <br />
                <em>Vakant</em> <br />
                <em>Vakant</em> <br />
                <em>Vakant</em>

            </td>
        </tr>
    </table>
</div>
<div class="rightcolumn">
    <br />
    <br />
    <br />
    <p>
        Studenter har rätt att vara representerade när universitetet fattar beslut som har betydelse
        för utbildningen och för studenternas situation i enlighet med Högskolelagen 2 kap 7§.
        Studentkåren ansvarar för att utse och entlediga studentrepresentanterna i enlighet med
        Högskolelagen 1 kap. 7 §. Studentrepresentanterna utses således av ÖS men har till uppgift
        att representera alla studenter vid Örebro universitet, såväl kårmedlemmar som övriga studenter,
        i enlighet med Studentkårsförordningen (2009:769) 8 §.  ÖS får också utse och entlediga en
        representant för studenterna som ska ingå i en nomineringsgrupp enligt
        2 kap. 7 b § högskoleförordningen (1993:100).
    </p>
    <p>
        Detta innebär att ÖS har en mängd olika studentrepresentanter på Örebro universitet.  På
        institutionsnivå ansvarar kårsektionerna för att tillsätta studentrepresentanter, på
        övergripande universitetsnivå ansvarar ÖS fullmäktige eller ÖS kårstyrelse för att utse
        studentrepresentanter. För att vara valbar till studentrepresentantplatser måste en vara ordinarie medlem i ÖS.
    </p>
    <p>
        Vill du vara studentrepresentant? Kontakta... 
    </p>
</div>
