@{
    ViewBag.Title = "Dina rättigheter";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Dina rättigheter
</div>

<div class="leftcolumn">
    <h2>
        Få koll på dina rättigheter med örebro studentkår
    </h2>
    <p>
        Varje kårsektion har <a href="/Utbildning/Utbildningsbevakning">utbildningsbevakare</a> som bemöter studenters frågor och tar emot idéer.
        Örebro studentkår har dessutom ett <a href="/Utbildning/Studentombud">student- och doktorandombud</a> 
        som arbetar heltid med att hjälpa och stötta studenter.
        Här kan du läsa om vad du som student har rätt till innan kursen startar, under dess gång samt efter den har slutat.
        Några viktiga punkter att känna till:
    </p>
    <ul class="list">

        <li>Lärare får inte lägga in obligatoriska moment under kursens gång</li>
        <li>Din tenta ska vara rättad inom 15 arbetsdagar</li>
        <li>Du har alltid rätt till att skriva din tenta anonymt</li>
        <li>Du kan begära en omprövning av en redan rättad tenta</li>
        <li>Senast fem veckor efter examinationstillfället har du rätt att skriva omtenta. Vid särskilda fall kan undantag göras.</li>

    </ul>

    <h3>Vad bör jag tänka på innan kursstart?</h3>

    <h4>Ha koll på din kursplan</h4>
    <p>
        Det ska alltid finnas en kursplan till din kurs. I den kan du hitta regler om bland annat hur kursen ska
        vara utformad och vilken examinationsform som förekommer. Kursplanen måste följas av såväl dig som student som lärosätets personal.
    </p>

    <h4>Ditt schema ska finnas fastställt</h4>
    <p>
        Ett schema där du kan se samtliga utbildnings- och examinationsmoment under kursen ska finnas tillgängligt
        senast fyra veckor innan kursstart. Datum för obligatoriska moment får inte ändras eller läggas till under kursens gång,
        utan ska finnas att tillgå från början.
    </p>
    <h4>Litteraturlistan, en del av kursplanen</h4>
    <p>
        Litteraturlistan berättar vad du ska läsa under kursens gång, denna ska finnas fastställd i kursplanen.
        Kontrollera litteraturlistan innan du köper dina böcker.
    </p>

    <h4>Saknas kursplan, schema eller litteraturlista?</h4>
    <p>
        Anmäl detta direkt till kursansvarig! Du hittar vem som är kursansvarig på Blackboard eller vid din institution.
        Dyker dokumenten inte upp trots att du pratat med kursansvarig? Kontakta Örebro studentkårs student- och doktorandombud!
    </p>

    <h3>Vad bör jag tänka på under kursens gång?</h3>

    <h4>Det kan inte dyka upp obligatoriska moment</h4>
    <p>
        Ett moment, det vill säga en föreläsning, seminarium eller liknande, är bara obligatoriska om det står fastställt i
        kursplanen redan från början. Ett moment kan inte bli obligatoriskt helt plötsligt bara för att din lärare eller
        kursansvarige bestämmer sig för det.
    </p>
    <h4>Du får alltid skriva anonym tenta</h4>
    <p>
        När du skriver såväl hem- som salstentamen har du alltid rätt att vara anonym. Under rättningsprocessen ska
        tentamen vara kodad, detta för att skydda dig som student. När examinator slutligen fattat betygsbeslut
        behöver du inte längre vara anonym.
    </p>

    <h4>Vad får läraren egentligen fråga om på examinationen?</h4>
    <p>
        Examinationen ska stämma väl överens med hur kursen beskrivs i kursplanen. Frågor kan och får komma på alla
        de moment som ingår i kursen. Du kan alltså få frågor på sådant som läraren föreläst om men som inte står i kurslitteraturen.
    </p>

    <h4>Din tenta ska vara rättad i tid</h4>
    <p>
        Din lärare ska rätta din tenta eller examinationsuppgift inom 15 arbetsdagar. I särskilda fall kan läraren få
        längre tid på sig att rätta en tenta, men då ska det finnas ett prefektbeslut. Om din tenta inte är rättad i tid,
        kontakta omedelbart examinatorn. Fördröjd rättning kan leda till problem med CSN-utbetalningar för dig.
    </p>

    <h4>Kuggat? Du har rätt till omtenta inom fem veckor</h4>
    <p>
        Senast fem veckor från ordinarie examinationstillfälle har du rätt att skriva en omexamination. Denna får ges
        tidigast två veckor efter du fått ditt resultatbesked från ordinarie examen. Vid särskilda fall kan undantag
        göras och omexamination får hållas efter fem veckor. Ordet omexamination inbegriper alla olika former av
        examination så som exempelvis uppsats, hemtentamen, salstenta.
    </p>

    <h4>Kuggat? Du kan begära omprövning</h4>
    <p>
        Om du kuggar en tenta kan du inte överklaga betygsbeslutet. Det du kan göra är däremot att begära en omprövning
        eller rättelse på din examination. Kontakta student- och doktorandombudet för mer information.
    </p>

    <h3>Vad bör jag tänka på efter kursens slut?</h3>

    <h4>Du har fortfarande rätt att examineras</h4>
    <p>
        Om kursen upphört eller förändrats har du rätt att examineras minst tre gånger enligt den kursplan som
        rådde när du läste den. Om du blivit underkänd två gånger har du rätt att byta examinator. Rätten till ny
        examinator gäller dock inte om det till exempel är brist på lärarresurser vid universitetet.
    </p>
    <h4>Ingen fortsatt handledning eller undervisning efter kursens slut</h4>
    <p>Du har rätt till handledning och undervisning under den tid kursen pågår. Efter kursens slut har du inte längre rätt till detta.</p>

    <p>
        Har du frågor, funderingar eller någonting som du inte tycker känns helt okej med din kurs? Hör av dig till någon av
        Örebro studentkårs <a href="/Utbildning/Utbildningsbevakning">utbildningsbevakare</a> eller
         <a href="/Utbildning/Studentombud">student- och doktorandombud</a>. Vi finns här för dig som medlem i Örebro studentkår!

    </p>
    <h3>
        Vart vänder jag mig om det uppstår problem med kursen?
    </h3>
    <p>
        <b>Steg 1:</b> Prata med ansvarig föreläsare.<br />
        <b>Steg 2:</b> Kontakta kursansvarig eller prefekt.<br /> 
        Detta kan du göra om den ansvariga föreläsaren inte lyssnar på dig eller om det är föreläsaren 
        själv som är problemet. Vem som är kursansvarig hittar du på Blackboard eller hos din institution, 
        det är också där du kan hitta namnet på ansvarig prefekt.
    </p>
    <p>
        Om inget av ovanstående två steg hjälper dig,
        eller om du inte känner att du själv vill kontakta de ansvariga, ta då hjälp av Örebro 
        studentkårs <a href="/Utbildning/Studentombud">student- och doktorandombud</a>. 
        Som medlem behöver aldrig sitta själv i ett jobbigt möte med lärare eller annan personal, 
        du har alltid rätt att ta hjälp av Örebro studentkår.
    </p>
    <h3>Du kan också läsa mer om dina rättigheter (och skyldigheter) på 
    <a href="http://www.oru.se/Utbildning/Student/Studenters-rattigheter-och-skyldigheter/">Örebro universitets webbplats</a>.</h3>
</div>