@{
    ViewBag.Title = "Dina rättigheter";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Studentombud
</div>
<div class="leftcolumn">
    <h2>Student- och doktorandombud</h2>
    <p>
        Student- och doktorandombudet är av ÖS heltidsanställd och arbetar med rättsliga studentfrågor. Ombudet finns till för att 
        hjälpa och stötta studenter, och fungerar också som ett naturligt stöd för utbildningsbevakarna i juridiska ärenden som rör ÖS-medlemmar.
    </p>
    <h2>När och varför ska jag kontakta student- och doktorandombudet?</h2>
    <p>
        Student- och doktorandombudet finns där för att hjälpa dig som student om du får problem under dina studier.
        När du besöker vårt student- och doktorandombud har denne tystnadsplikt och lyssnar på alla studenter.
    </p>
    <p>
        Om du kontaktar student- och doktorandombudet kan du först och främst få hjälp med att veta hur det egentligen
        ligger till i ditt fall, om du har blivit behandlad på rätt sätt. Vid de fall att du som student har blivit
        felbehandlad hjälper denne dig att föra din röst och få rätt till det du ska ha rätt till. Student- och
        doktorandombudet kan också vara den person som för kontakten med universitetet i det fall du själv inte
        vill kontakta lärare eller kursansvarig.
    </p>
    <p>
        Du kan kontakta student- och doktorandombudet för i princip vad som helst som rör dina studier när du misstänker
        att du inte blivit rättvist behandlad.
    </p>
    <p>
        Student- och doktorandombudet når du via e-mail: studentombud@orebrostudentkar.se <br />
        eller via telefon på 0709-39 99 21. 
    </p>
</div>