@{
    ViewBag.Title = "Dina rättigheter";
    ViewBag.SubTitle = "Vanliga frågor";
}


<div class="leftcolumn">
    <h2>
        Vanliga frågor
    </h2>
    <p>
        Har vi några frågor (&omega; svar) utbildningsbevakning som vi kan lägga in här? 
    </p>

</div>