@{
    ViewBag.Title = "Dina rättigheter";
    ViewBag.SubTitle = "Vanliga frågor";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Vanliga frågor
</div>

<div class="leftcolumn">
    <h2>
        Vanliga frågor
    </h2>
    <p>
        Har vi några frågor (&omega; svar) utbildningsbevakning som vi kan lägga in här? 
    </p>

</div>