@{
    ViewBag.Title = "Dina rättigheter";
    ViewBag.SubTitle = "Vanliga frågor";
}
<div class="breadcrumb">
    <a href="~/Home/Index">Hem</a> > Vanliga frågor
</div>

<div class="leftcolumn">
    <h2>
        Vanliga frågor till våra utbildningsbevakare:
    </h2>
    <dl>
        <dt>När ska rättningen av tentamen vara klar?</dt>
        <dd>- Läraren har 15 arbetsdagar på sig att rätta en uppgift. Under särskilda omständigheter, så som sjukdom, kan läraren få rättningstiden förlängd.</dd>
        <dt>Blir jag automatiskt godkänd på en tentamen om läraren inte har rättat den i tid?</dt>
        <dd>- Nej, du blir inte automatiskt godkänd om du inte fått tillbaka tentamen från läraren i tid.</dd>
        <dt>Var hämtar jag ut min tentamen när den är rättad?</dt>
        <dd>- Rättad tentamen hämtar alla studenter ut i Studentcentrum 
        som ligger i Långhuset. Ta med legitimation och 
        tentamenskvitto när du ska hämta ut tentamen. Vi rekommenderar att 
        ta ut en kopia av tentan och inte originalet då det stärker trovärdigheten 
        vid en omprövning.</dd>
        <dt>Kostar det något att hämta ut tentan?</dt>
        <dd>- Ja, om den är längre än 9 sidor. Sida 1-9 är gratis, 10 sidor eller mer 
        kostar 50 kr plus 2 kr/sida. Exempel: att hämta ut en tenta på 12 sidor 
        kostar 50 + 12 x 2 = 74 kronor.</dd>
        <dt>Måste jag anmäla att jag ska skriva tentamen?</dt>
        <dd>- Ja, du måste alltid anmäla dig för att få skriva tentamen. Anmälan sker senast 5 vardagar innan tentamen och du anmäler dig via Studentforum.</dd>
        <dt>Får läraren lägga in obligatoriska moment i en kurs när kursen har börjat?</dt>
        <dd>- Nej, alla obligatoriska moment ska finnas i kursplanen innan kursen börjar.</dd>
        <dt>Var hittar jag litteraturlistan till kursen?</dt>
        <dd>- Litteraturlistan berättar vad du ska läsa under kursens gång och den ska finnas fastställd i kursplanen.</dd>
        <dt>Vet läraren vem som har skrivit vilken tentamen?</dt>
        <dd>- Nej, du har alltid rätt att  skriva din tentamen anonymt.</dd>
        <dt>Jag fick inte godkänt på tentamen, när är omtentan?</dt>
        <dd>- Senast fem (5) veckor efter examinationstillfället har du rätt att skriva omtentamen. Vid särskilda fall kan undantag göras.</dd>
        <dt>Varför ska jag fylla i kursvärderingen?</dt>
        <dd>- Efter varje kurs slut får alla studenter en kursvärdering skickade till sina studentmailer. I kursvärderingen får du som student möjlighet att berätta vad du tyckte om kursen. Kursvärderingen ligger till grund för att utveckla och förbättra kursen till nästa tillfälle den ges. Tack vare att du fyller i kursvärderingen förbättras kursen, och tack vare att någon annan innan dig har fyllt i kursvärderingen har även kursen förbättrats tills när du läste kursen.</dd>
        <dt>Varför ska jag fylla i kursvärderingen när den inte förbättrar min utbildning?</dt>
        <dd>- Genom att fylla i kursvärderingen hjälper du till att förbättra utbildningen vid Örebro universitet. Ju bättre utbildningen som ges desto bättre rykte får din utbildning, och din examen från Örebro universitet stärks.</dd>
    </dl>
</div>